<div id="pro3" class="col s12">
    <div class="row">
        <div class="col s12">

            <div class="pro3details" *ngFor="let order of orders">
                 <div class="track-bx">
                    <div class="row">
                        <div class="col s4">
                            <a [routerLink]="['../order-detail', order.order_id]" class="track-id-bx">
                                {{order.order_id}}
                        </a>
                    </div>

                    <div class="col s8 right-align">
                        <span class="h-heading left-align">Payment By :- <span class="color-txt-2">{{order.payment_by}}</span></span><br>
                        <span class="h-heading  left-align">Payment Status :- <span class="color-txt-1">{{order.payment_status | capitalize}}</span></span>
                    </div>
                </div>
            </div>

            <div class="row " >
                 <div class="col s4">
                    <div class="row pro3-product-details-bx"  *ngFor="let products of order.order_detail">
                        <div class="col s3">
                            <img class="responsive-img" src="{{products.product.image}}">        
                        </div>
                        <div class="col s9">  
                            <p><a [routerLink]="['../../product',products.product.slug]">{{products.product.title}}</a></p>
                            <p><b>Size:</b>{{products.product_size}}</p>
                            <p><b>Quantity:</b>{{products.quantity}}</p> 
                            <p><b>price:</b><span [innerHTML]="products.price"></span></p> 
                        </div>
                    </div>
                </div>
                <div class="col s8">

                    <ul class="timeline" id="timeline">
                        <li class="li complete">
                            <div class="timestamp">

                                <span class="date">{{order.status['ordered']}}<span>
                                    </span></span></div>
                            <div class="status">
                                <h4> Ordered </h4>
                            </div>
                        </li>


                    

                        <li class="li complete"  *ngIf="order.order_status=='reject'">
                            <div class="timestamp">

                                <span class="date">{{(order.status['reject']!='')?order.status['reject']:''}}<span>
                                    </span></span></div>
                            <div class="status failed" style="border:none">
                                <h4 class="failed"> Rejected </h4>
                            </div>
                        </li>
                          <li class="li complete"   *ngIf="order.order_status=='cancel'">
                            <div class="timestamp">

                                <span class="date">{{(order.status['cancel']!='')?order.status['cancel']:''}}<span>
                                    </span></span></div>
                            <div class="status failed" style="border:none">
                                <h4 class="failed"> Cancelled </h4>
                            </div>
                        </li>
                           <li class="li complete"  *ngIf="order.order_status=='failed'">
                            <div class="timestamp">

                                <span class="date">{{(order.status['failed']!='')?order.status['failed']:''}}<span>
                                    </span></span></div>
                            <div class="status" style="border:none">
                                <h4 class="failed"> Failed </h4>
                            </div>
                        </li>
                        <li class="li " [ngClass]="{complete:order.status['inprocess']!= ''}" *ngIf="order.order_status!='failed' && order.order_status!='reject' && order.order_status!='cancel'">
                            <div class="timestamp">

                                <span class="date">{{(order.status['inprocess']!='')?order.status['inprocess']:''}}<span>
                                    </span></span></div>
                            <div class="status">
                                <h4> In Process </h4>
                            </div>
                        </li>
                        <li class="li " [ngClass]="{complete:order.status['shipped']!= ''}" *ngIf="order.order_status!='failed' && order.order_status!='reject' && order.order_status!='cancel'">
                            <div class="timestamp">

                            <span class="date">{{(order.status['shipped']!='')?order.status['shipped']:''}}<span>
                                    </span></span></div>
                            <div class="status">
                                <h4> Shipped </h4>
                            </div>
                        </li>
                        <li class="li" [ngClass]="{complete:order.status['delivered']!= ''}" *ngIf="order.order_status!='failed' && order.order_status!='reject' && order.order_status!='cancel'">
                            <div class="timestamp">

                                <span class="date">{{(order.status['delivered']!='')?order.status['delivered']:''}}<span>
                                    </span></span></div>
                            <div class="status" style="border:none">
                                <h4> Delivered </h4>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>


            <div class="total-bx">
                <div class="row">
                    <div class="col s3">
                        <p><b>Order Date:</b>{{order.created_at}}</p>
                        <div *ngIf="order.order_status!='failed' && order.order_status!='reject' && order.order_status!='cancel'">
                            <p *ngIf="order.delivery_date"><b>Delivery Date:</b>{{order.delivery_date}}</p>
                            <p *ngIf="!order.delivery_date"><b>Expected Delivery Date:</b>{{order.expected_delivery_date}}</p>
                        </div>
                        <p *ngIf="order.order_status=='pending'" class="h-heading">Your order is  pending</p>
                        <p *ngIf="order.order_status=='failed'" class='h-heading failed'>Your order is  failed</p>
                        <p *ngIf="order.order_status=='inprocess'" class='h-heading success'>Your order is  in process</p>
                        <p *ngIf="order.order_status=='reject'" class='h-heading failed'>Your order is rejected</p>
                        <p *ngIf="order.order_status=='shipped'" class='h-heading success'>Your order is shipped</p>
                        <p *ngIf="order.order_status=='cancel'" class='h-heading failed'>Your order is Cancelled</p>
                        <p *ngIf="order.order_status=='delivered'" class='h-heading success'>Your order is delivered</p>
                        <p *ngIf="order.order_status=='success'" class='h-heading success'>Your order is successfully placed.</p>


                    </div>
                    <div class="col s6">
                        <div *ngIf="order.order_status!='failed' &&  order.order_status!='reject' &&  order.order_status!='cancel'">  
                            <p *ngIf="order.is_cash_back && order.is_cash_back_transfer==0" class='success'>Cash back of <span [innerHTML]="order.cash_back_amount"></span> for Promo Code {{order.coupon_code|ucupper}} has been successfully added to your Fabivo Wallet on after shipped successfully. Happy Shopping!</p>
                            <p *ngIf="order.is_cash_back && order.is_cash_back_transfer==1" class='success'>Cash back of <span [innerHTML]="order.cash_back_amount"></span> for Promo Code {{order.coupon_code|ucupper}} has been successfully added to your Fabivo Wallet</p>
                        </div>
                    </div>
                    <div class="col s3 left-align">
                        <p><b> Sub Total:</b><span [innerHTML]="order.total_price" ></span></p>
                        <p *ngIf="order.enable_shipping_charge"><b>Shipping:</b><span [innerHTML]="order.shipping_charge" ></span></p>
                        <p *ngIf="order.enable_tax"><b>Tax:</b><span [innerHTML]="order.total_tax" ></span></p>
                        <p *ngIf="order.is_discount"><b>Discount</b><span [innerHTML]="order.discount" ></span></p>
                        <p *ngIf="order.is_cod"><b>Cod Money</b><span [innerHTML]="order.cod_money" ></span></p>
                        <p><b>Total:</b><span [innerHTML]="order.payble_amount" ></span></p>

                    </div>
                </div>
            </div>
        </div>
        <div class="emptyPage" *ngIf="total==0" style=""> 
            <div><i class="fa fa-search" aria-hidden="true"></i></div> 
            <div>No Order Found </div>    
            <a class="waves-effect fabivo-btn btn" [routerLink]="['/']">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>CONTINUE SHOPPING
                    </a>
        </div>
        <div class="listing-breadcrumb"> 
            <div class="col m12 s12 pagination_full">



                <!-- pager -->
                <ul  *ngIf="pager.pages && pager.pages.length" class="pagination right">
                    <li class="waves-effect"  [ngClass]="{disabled:pager.currentPage === 1}">
                        <a  (click)="setPage(pager.currentPage - 1)"><i class="material-icons">chevron_left</i></a>
                    </li>
                    <li class="waves-effect"  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)"><i class="material-icons">chevron_right</i></a>
                    </li>

                </ul>
            </div> 
        </div> 

    </div>
</div>
</div>