/**  loader css*/

.loading-cntant {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    top: 0;
    bottom: 0;
    text-align: center;
    display: table;
    z-index: 99999;
}
.loader {
    margin: auto;
    font-size: 10px;
    position: absolute;
    text-indent: -9999em;
    border-top: 8px solid rgba(255, 255, 255, 0.70);
    border-right: 8px solid rgba(255, 255, 255, 0.70);
    border-bottom: 8px solid rgba(255, 255, 255, 0.70);
    border-left: 8px solid  #00bff3  ;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.err-msg{
    color: #ff0000;
    font-size: 12px;
	margin-bottom: 13px;
}

.tost-error{
    background-color: #f44336 !important;
    font-weight: 400 !important;
}
.tost-success{
    background-color: #26a69a !important;
    font-weight: 400 !important;
}
.sort-by a{cursor: pointer;}
.filters-list a{cursor: pointer;}

.filters-list ul li a.active {
    color: #3094ea !important;
}
.show_bullet{
    color: #3094ea !important;

}
.emptyPage {
    background: #fff none repeat scroll 0 0;
    color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    margin: 0 10px 10px;
    min-height: 200px;
    padding: 20px;
    text-align: center;
    margin-top: 28px;
}
.emptyPage .fa-search{
    font-size: 60px;

}
.slick-slide img{height: 100%;width: 100%; }
.slider-nav .slick-slide.slick-current img{ border:1px solid #148DAE; }
.slider-nav .slick-slide{ margin-bottom:5px;}
.zoomContainer{z-index: 2;}

.social-btn-bx{ margin-bottom: 30px;}
.btn-social{width: 100%; text-align: left; /*line-height:50px;*/ padding: 0px 8px;}
.btn-social i {
  border-right: 1px solid #fff;
  color: #fff;
  margin-right: 18px;
  padding-right: 18px;
  padding: 7px 7px;
}
.btn-facebook{ background-color:#3b5998;}
.btn-facebook:hover{background-color:#3b5998;}
.btn-google{ background-color:#C23321;}
.btn-google:hover{background-color:#C23321;}
.social-btn-bx .fabivo-btn i{padding-right: 20px !important;}
/*address block**/

.panel-box.add-address-box, .panel-box.address-box, .panel-box.card-box {
    background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;
    max-height: 220px;
    overflow-x: auto;
    overflow-y: hidden;
}
.simple-hover-box {
    border: 1px solid #ddd;
}
.simple-hover-box:hover {
    border: 1px solid #ddd;
}
.panel-box {
   /* min-height: 220px;*/
}
.highlight-box {
    border: 1px solid #00bff3 !important;
}
.panel {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel-box .panel-body {
    margin-bottom: 0;
}
.panel-body {
    padding: 15px;
}

.fixed_dynamic_content {
    display: table;
    width: 100%;
}

.text-grayed-12 {
    font-size: 12px !important;
}
.text-grayed-12, .text-grayed-base {
    color: rgba(0, 0, 0, 0.4);
    line-height: 18px;
}

.fixed_dynamic_content .dynamic-left, .fixed_dynamic_content .fixed-right {
    display: table-cell;
    vertical-align: middle;
}

.fixed_dynamic_content .dynamic-left, .fixed_dynamic_content .fixed-right {
    display: table-cell;
    vertical-align: middle;
}

.panel-box .icon-group i {
    color: #00bff3;
  /*  margin-top: -10px;*/
    cursor: pointer;
}
.pd-5 {
    padding: 5px;
}
.login-details{ position:relative;}
.login-details .icon-group{position:absolute; right: 10px; top: 13px; z-index: 5;}
[data-ng-click], [data-ui-sref], [ng-click], [ui-sref], a {
    cursor: pointer;
}
[class*=" icon_"], [class^="icon_"] {
    font-family: icomoon !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
}
#accordion-tab .panel-title a::before, .pull-right {
    float: right !important;
}

.panel-box h3{
    font-size: 18px; margin:0px;
}

.row .button .fabivo-btn{
    padding: 8px 25px;
}

.my-account-bx .dropdown-content {
    top: 63px !important;

}

.add_cart{ position:relative; padding-right:10px; display: inline-block;}
.add_cart span{background-color: #00bff3; border-radius: 100% ;color: #fff; font-size: 0.8rem;font-weight: 300; min-width:25px !important; height:25px; text-align:center; line-height:25px; padding:0px; margin-left:0px; position:absolute; right:-5px; top:-9px;}
.gender-bx i{ font-size:25px;}
.gender-bx label{ font-size:1rem; margin-left:5px;}
.gender-bx > p > label{ margin-left:2.5em;}

.cart-section .cart-itam{
    margin-top: 20px;
}

.cart-section .cart-product-info-bx{
    min-height: 0px;
}

.chackout-form .login-details{
    cursor: pointer;
}

.disabled{
    opacity: 0.25;
}
.product-bx .product-details h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.zoomModal {
    width: 100%;
    top: 0 !important;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    transform: inherit !important; height: 100%;
}
.zoomModal .modal-action.modal-close{ position:fixed; right:20px; top:20px; padding:10px 15px; background: rgba(0,185,221,0.7); z-index:9; color:#FFF;}
.zoomModal .slick-dots li button{ background-color:#00bff3; border-radius:100%; border:1px solid #148DAE;}
.slick-dots li button::before{font-size:0px;}
.slick-dots .slick-active button{ background-color:#000 !important; border-color:#FFF !important;}
.zoom{cursor: zoom-in;}
.zoomModal .zoomStripContent span{float:left;}
.zoomModal .sizes ul{ margin:8px 15px 8px 15px; }
.zoomModal .sizes ul li{ float:left; margin:0px 10px;}
.zoomModal .prize{font-size:20px; line-height: 50px; color:#FFF;}
.zoomStripContent{ padding: 20px; background-color: rgba(0,0,0,0.8);}
.zoomModal .zoomStripContent span:last-child{ margin-left:10px;}
.zoomModal .zoomStripContent { display: inline-block; }
.zoomModal .zoomStrip{ width:100%; text-align: center; position: fixed; bottom: 0px;}
.zoomModal .slick-dots{ position: fixed; bottom: 100px; z-index: 1;}
.zoomModal .sizes ul li a{ border: 1px solid #FFF;  line-height: 35px; width: 35px; height: 35px; display: block; text-align: center; border-radius: 100%;}
.zoomModal .slick-prev{ left:20px; background-color:#00bff3 !important; width: 40px; height: 40px; z-index: 1; position:fixed;}
.zoomModal .slick-next{ right:20px; background-color:#00bff3 !important; width: 40px; height: 40px; z-index: 1; position:fixed;}
.zoomModal .slick-slider{ margin-bottom:0px; }
.all-btn{ margin-top:25px;}
.facebook-btn{ width: 35px !important; height: 35px !important; display: inline-block; line-height: 35px !important; text-align: center; background-color:#3E5B99; border-radius: 100%; padding: 0px !important;}
.twitter-btn{ width: 35px !important; height: 35px !important; display: inline-block; line-height: 35px !important; text-align: center; background-color:#1DA1F2; border-radius: 100%; padding: 0px !important;}
.whatsapp-btn{ width: 35px !important; height: 35px !important; display: inline-block; line-height: 35px !important; text-align: center; background-color:#11AE09; border-radius: 100%; padding: 0px !important;}
.envelope-btn{ width: 35px !important; height: 35px !important; display: inline-block; line-height: 35px !important; text-align: center; background-color:#EA4335; border-radius: 100%; padding: 0px !important;}
.is_wishlist{position: absolute; right: 0px; top: 0; padding: 5px 10px; color: #01BFF3; font-size: 20px;}
.zoomModal .mCSB_inside > .mCSB_container{margin-right: 0px !important;}
.slider-nav{ padding-right: 0px !important;}
.review-description{margin-top:20px;}
.cart-section .cart-product-info-bx{overflow-y:hidden !important;}
.slider-for{ height:auto !important;}
.back_link{ margin-bottom:10px;  }
.modal-content .input-field label{ font-size:18px;}
.modal-footer .modal-close{padding: 10px 10px 8px;}
@media only screen and (max-width: 767px){
.div-hide-on-med-and-down{ display: none; }
.div-hide-on-large-only a{color:#000;}
.div-hide-on-large-only a i{ margin-right:5px;}
.div-hide-on-large-only .modal-close{ position:absolute; right: 0px; top: 0px; padding: 10px 15px;
background: rgba(0,185,221,0.7);color: #FFF;}
.div-hide-on-large-only .modal-close i{ font-size: 20px; }
.div-hide-on-large-only .filters-list-2{ margin-top:40px;}
.div-hide-on-large-only .clear_filter{ display:block; color:#FFF; margin-top: 10px !important;}
.div-hide-on-large-only .apply_filter{ display:block; color:#FFF; margin-top: 10px !important;}
.div-hide-on-large-only .collapsible-body ul li{margin:10px !important; display:inline-block; padding:0px 0px 10px 0px !important;}

.div-hide-on-large-only .collapsible-body ul li a{border:1px solid #ddd; border-radius:2px; padding:10px; color:#000;}
#modalSort{ width: 80% !important;  height: auto !important; top:15% !important;}
#modalSort ul{ margin-top: 40px;}
#modalSort ul li{padding:10px; border-bottom:1px solid #ddd;}
#modalSort ul li:last-child{ border-bottom:0px solid !important;}
.pagination_full{ width:100% !important;}
.pagination_full ul{ float:left !important;}
.pagination_full ul li a{ padding:0 5px; font-size: 12px !important;}
.zoomStrip{display: none;}
.zoomModal .slick-dots{bottom:0px;}
.slider-for .slick-prev{ left:10px; background-color:#00bff3 !important; width: 40px; height: 40px; z-index: 1; }
.slider-for .slick-next{ right:10px; background-color:#00bff3 !important; width: 40px; height: 40px; z-index: 1;}
.fabivo-btn{ font-size: 14px;}
.slider-nav{ display:none!important;}
.slider-for{width:100% !important;}
.bordered.striped.highlight{ width:100% !important;}
/*---Shilpa---*/
.cart-product-info .col.s5{ width:36% !important}
.cart-product-info .col.s7  {
    width: 64% !important;
}
.cart-section .cart-product-info .cart-details { padding:0 !important}
.cart-section .cart-product-info .cart-details h5 {
    font-size: 16px !important;
}
.cart-section .cart-product-info .cart-details .heading {
    font-size: 15px;
}
.cart-section .cart-product-info .cart-details input {
    font-size: 15px;
}
.select-wrapper input.select-dropdown { top:-13% !important}
.cart-section .cart-product-info .cart-details .select-wrapper span.caret {
    top: -9px !important;
}
.cart-section .cart-product-info .cart-details p{ display:none}
.cart-section .cart-product-img img, .review {
   
    margin-top: 41px;
}

.faq-category .tabs{ padding:0px !important}
.cart-section .cart-product-info{
	-webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.46);
-moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.46);
box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.46);
border:1px solid #ccc;
 padding-bottom: 13px;
	}
	.cart-section .pay-option .btn{line-height: 47px !important;}
.product-img .is_wishlist {
  color: #01bff3;
  font-size: 20px;
  padding: 5px 10px;
  position: absolute;
  right: -19px;
  top: -16px;
}

.social-btn-bx .btn-social {

  line-height: 44px;
}

.social-btn-bx .btn-social span{ font-size:15px;}
	
}


.account-details-bx{ overflow-y:auto; overflow-x:hidden; max-height:500px;}
.account-details-bx .product-details-bx{ border: 1px solid #ddd; margin-bottom:20px;
 color:#222;}
.account-details-bx .product-details-bx span{ margin-top:15px; display:block; color: #00BFF3;}
.account-details-bx .product-details-bx .img-bx{ margin-bottom:-6px;}
.order-details .order-1 span{font-size:12px; color:#777; display:inline-block;}
.order-details .order-2 span{font-size:14px; color:#00BFF3; display:inline-block;}
.order-details .order-1{ margin-bottom:15px;}
.order-details .order-2{ margin-bottom:15px;}
 

.fill-deatils-bx .tabs{ height:auto;}
.fill-deatils-bx .tabs .tab{ height:auto; display:block; line-height:45px; text-align: left; padding:0px !important;}
.fill-deatils-bx .tabs .tab a{line-height:45px; color:#111; font-family: 'Conv_Raleway-Regular'; font-size: 16px; text-transform:capitalize;}
.fill-deatils-bx .tabs .active a {color:#fff; background-color: #00BFF3;}
.fill-deatils-bx .tab-details{font-family: 'Conv_Raleway-Regular'; color:#777; font-size:14px; border-left:1px solid #DDD; min-height: 208px !important;}
.fill-deatils-bx input{ margin-bottom:0px !important;}
.details-subit-bx{ border-top:1px solid #DDD; padding-top:20px !important; text-align:right; margin-top: 30px;}
.fill-deatils-bx b{color:#00BFF3;}
.details-subit-bx b{ color:#00BFF3;}
.details-subit-bx  p{ margin-bottom:0px;}
.details-subit-bx  span{ margin-right:5px;}
.chackout-form .login-details .mail-id span{font-size: 15px;}
.chackout-form .login-details .order-1 span{font-size: 12px; color: #777}
.chackout-form .login-details .order-2 span{font-size: 14px; color: #00BFF3}
.chackout-form .select-dropdown{ padding:0 5%;}
.center-text{text-align: center;}
.product-size1{ padding:2px ; border:1px solid #ddd; background-color:#FFF; margin:15px 0px 0px 0px !important; left: 0;width:100%;}
.product-size1 ul li a{font-size: 13px !important; height: 30px !important; line-height: 17px !important; width: 30px !important;} 
.product-size1 ul{ margin:0px; }
.product-size1 ul li{ float:unset !important; display:inline-block;}
/*.footer{margin-top:0px !important;}*/
.zoomModal .sizes ul .active a{color: #00BFF3; }
.wish-product-bx{ position:relative;}
.pro3-product-details-bx p a {
    color: #444546;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pro3-product-details-bx .success,.total-bx .success{
    
    color:#7ED321 !important;
}
.success-msg{
    
     color:#7ED321 !important;
}
.pro3-product-details-bx .failed{
    
    color:#FF0000;
}
.total-bx .failed{
    
    color:#FF0000;
}
.disabled a {
    pointer-events: none;
}
.failed{
    
    color:#FF0000  !important;
}

#newsletters .input-field input[type="search"]{width: calc(100% - 5rem) !important;}

/*-----Shilpa*/


.wallet_box_head {
    padding: 0px 15px;
}



form.fabivo_wallet p {
    padding-left: 10px;
}

.minus_sign {
    position: relative;
    top: 39px;
}

.wallet_box > p:nth-child(1) {
    color: #00B9DD;
}

.wallet-balance {
    margin-left: 13px; margin-top:13px;
}
#zoomModal{max-height: 800px;}
#modal2{max-height: 600px;}
.track-box h3{  color: #00bff3; font-family: Conv_Raleway-SemiBold;}
.h-heading{  color: #00bff3; font-family: Conv_Raleway-SemiBold;}
.h-heading .color-txt-1 {color:#60a810;}
.h-heading .color-txt-2 {color:#c20000;}
.product-detail .description .failed{   color:#FF0000 !important;}

.order-box2 { margin-top:30px; font-size:18px; font-family: "Roboto", sans-serif; letter-spacing:1px;}

.order-box2 a { margin:15px; display:inline;}

.order-box2 a:hover { color:#00bff3;}
.faq-section p{ text-align:justify}
.search-box .ng-pristine  .input-field input[type="search"]{ padding-left:3rem}
.search-box .input-field button {
  background-color: inherit;
  border: 0 solid;
  color: #929292;
  font-size: 20px;
  height: 44px !important;
  margin-left: -3px !important;
  position: absolute;
  width: 50px;
  z-index: 1;
}
.login-box {
  float: left;
}
@media only screen and (min-width: 320px) and (max-width: 480px){

.input-field .cart-section ul {
    list-style: outside none none;
    margin-top: 32px;
    padding: 0;
}

.input-field .dropdown-content {
  background-color: #fff;
  display: none;
  margin: 0;
  max-height: 650px;
  min-width: 43px;
  opacity: 0;
  overflow-y: auto;
  position: absolute;
  will-change: width, height;
  z-index: 999;
}

.select-wrapper .dropdown-content.select-dropdown {
  margin-top: 41% !important;
}
#loginForm .login-text .m6{ width:50% !important; float:left}
#loginForm .login-text p a {
    
    float: right;
    margin-top: -2px;
}
.login-form .m6 p {
  float: left;
  margin: 15px 0 !important;
  
}
.pro3-product-details-bx .col.s3 {
  float: left !important;
  width: 33% !important;
}
.pro3-product-details-bx .col.s9 {
  float: left !important;
  width: 60% !important;
}
.pro3-product-details-bx p a{ font-size:12px !important}
.timestamp{ padding-left:2px !important}
.timeline .timestamp {
  width: 68px !important;
  padding-right: 0px !important;
 
}

#timeline{ padding:0 !important; margin-left:6px;}
.status {
  width: 123px;
}
.timeline .status::before {

}

.date {
  width: 74px !important;
  text-align: center !important;
}

}
@media only screen and (max-width: 767px){ 

.order-box2 a { display:none;}


/*.res_header {
	width: 100% !important;
	background: #444546 !important;
	
	 position: absolute !important; 
	
	padding: 15px 0px !important;
	min-height: 85px !important;
}*/

/*.header-custom.lighten-1 {
	margin-top: -45px;
	position: absolute !important;
}
*/

 }
 
 @media only screen and (max-width: 767px) {
 
 	.search-box-mobile .nav-wrapper {right:-93px;}
	.col.m4.s6 {width:49%!important;}
	.right-align {text-align:left;}
	.res_header {position:absolute; margin-top:-30px;}
	.res_header .brand-logo {top:32px; left:23%!important;}
	.res_header .order-box2 {margin-top:40px; font-size:12px;}
	.res_header .order-box2 a {display:block; margin:15px 0 9px;}
	.back_link_nav {
    display: block !important;
    position: absolute;
    top: 33px;
    left: -1px;
    font-size: 30px;
}


	
 }
 
.cart-wish-btn {} 
.product-category-breadcrumb{
        text-transform: capitalize;
}
.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right:22px;
}

.timeline .li {
  transition: all 200ms ease-in;
}

.timeline .timestamp {
  margin-bottom: 20px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  color: #616060 !important;
   font-size: 13px !important;
     font-family: "Roboto",sans-serif !important;
	 min-height:19px;
}

.timeline .status {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #b4b4b4;
  position: relative;
  transition: all 200ms ease-in;
  /*left: 50px;*/
}
.timeline .status h4 {
    font-weight: 600;
    left: -44px;
    position: relative;
}
.timeline .timestamp .date {position:relative; left:-43px;}
.timeline .status:before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #b4b4b4;
  position: absolute;
  top: -8px;
  left: 0%;
  transition: all 200ms ease-in;
}

.timeline .li.complete .status {
  border-top: 2px solid #01bff3;
  top:0px;
}
.timeline .li.complete .status:before {
  background-color: #01bff3;
  border: none;
  transition: all 200ms ease-in;
}
.timeline .li.complete .status h4 {
  color: #616060 !important;
   font-size: 12px !important;
     font-family: "Roboto",sans-serif !important;
}
.timeline h4 {
  color: #616060 !important;
   font-size: 12px !important;
     font-family: "Roboto",sans-serif !important;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .timeline .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

 .timeline .timestamp {
    width: 100px;
  }

  /*.timeline .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }*/
  
  
}

.sign-bx .input-field button {
border-radius: 0;
font-size: 30px;
font-weight: 700;
height: auto;
padding: 12px 30px;
position: absolute;
right: -40px;
top: 0;
}
.fixed_div{
  background: #fff none repeat scroll 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    margin: 0;
    
    position: fixed;
    top: auto;
    z-index: 3;
       padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align:center !important;
    width: 100%;

}
#modalSort .active a{ color: #00B9DD; }
.select-wrapper input.select-dropdown {
  top: -16% !important;
}

@media only screen and (min-width: 200px) and (max-width: 300px){
	.header-custom.lighten-1 {margin-top:-92px;}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
		
		.product-category h5 {display:none;}
		.product-category {padding:6px 0;}
		.product-category .product-category-breadcrumb.right {margin-top:2px;}
		.track-bx .tp-btn {width:49%; text-align:center;}
		.track-bx .tp-btn-full {width:99%; text-align:center;}
		<!--.timeline .li.complete .status {border-top:0px; border-left: 2px solid #01bff3;}-->
		.timeline .status {border-left:2px solid #d6dce0; border-top:0px!important;}
		.timeline .status::before {
    left: 0px;
    top: -20%;
}
.timeline .status h4 {
    font-weight: normal; left:0;
}
		.cart-product-prize .code .input-field {width:61%;}
		.cart-product-prize .code input {padding:0 9px!important; font-size:13px; width:85%;}
		.cart-product-prize .code .btn {margin-top:0px!important; padding:0 20px; border-radius:0px; box-shadow:none; margin-left:5px;}
		.chackout-form .login-details:first-child {margin-top:52px;}
		.breadcrumb-detail{ display:none}
		.timeline .li{ width:24% !important; display:inline-block}
		ul:not(.browser-default) {
    
    padding-left: 15px;
}
.timeline .status{ justify-content: left;
    padding: 0 0;  left:3px;}
.timeline .li.complete .status h4{ text-align:center}
.timeline li:last-child .status {border:0px!important; left:36px;}

.btn-social i{ padding-top:2px !important}
.social-btn-bx .btn-social{ padding-right:10px !important}
.social-btn-bx .btn-social {
  width: 271px !important;
}
.timeline .timestamp .date {left:0;}		

}


@media only screen and (max-width: 380px) {
	.cart-section .cart-product-info .cart-details .heading { margin-top: 7px;}
.cart-section .cart-product-info .cart-details .select-wrapper span.caret { top: 0px !important; } 


			.breadcrumb-detail {display:none;}
			.back_link_nav {display:block!important; position:absolute; top:33px; left:-1px; font-size:30px;}
			#newsletter .input-field input {font-size:14px; height:41px;}
#newsletter .input-field button {padding:2px 14px; top:3px !important; right:3px; font-size:13px; height:auto;}
#newsletter .input-field i {font-size:17px;}
.timeline .li {
    display: inline-block;
    width: 23% !important;
}
.sign-bx .input-field i {
    padding-top: 12px;
}
}
.hide-on-med-and-down a {font-size:16px;}
.search-box .input-field input[type="search"] {height:45px;}
.search-box i {line-height:40px !important;}

nav .input-field input {font-size:16px;}

.back_link_nav {display:none;}


[hidden], template {
    display: none !important;
}
.right .left .dropdown-full {top:85px !important;}
#newsletters .input-field input[type="search"] {
    display: block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 8rem);
    padding-right: 1rem;
}


/*.header-custom.lighten-1 {
   
    height: 67px;
}
*/

.search-box {
    float: left;
}


.product-detail .product-info li a{ border-radius:35px !important}



.fill-deatils-bx .tabs .tab{ border-bottom:1px solid #CCC}


@media only screen and (min-width: 320px) and (max-width: 767px) {

#pro3 .track-bx .col.s8.right-align{margin-top:  10px;}
.accordion-div .collapsible-body{ text-align:center !important}
.collapsible-body img {padding-top: 16px !important;}
.fill-form .fill-deatils{ padding-top:10px !important}
.pro3-product-details-bx .panel-body{height: 395px !important}
.table.responsive-table tbody{white-space: normal}
.sign-bx .input-field button {
    border-radius: 0;
    font-size: 12px;
   
    padding: 1px 34px;
    position: absolute;
    right:0px !important;
    top: 24px;
}
.sign-bx .input-field i{ padding:20px !important}
.track-bx .col.s8.right-align {
  text-align: right !important;
}
.faq-section h1 {
    font-size: 2.2rem !important;
   
}
.accordion-div .collapsible-tab .payment_active{ color:#fff; background-color: #00bff3}
.collapsible-header{ padding-left:15px !important}
.collapsible.collapsible-tab {
    padding:0 !important;
}
.account-details-bx .product-details-bx .s4.img-bx {
  float: left;
  width: 39% !important;
}
.account-details-bx .product-details-bx .s8 {
  padding: 0;
  width: 61% !important;
}
.col.m8.s8 .price-detail h6{  font-size: 13px !important;
    padding-bottom: 8px !important;}
	.col.m8.s8.price-detail > span {
  font-size: 12px !important;
  padding: 13px 0 !important;
}
.select-wrapper .dropdown-content.select-dropdown{ padding:0 !important}
.header-custom .side-nav a, .header-custom .collapsible-body ul li a {
  font-size: 15px;
  padding: 0 !important;
}
.header-custom  #nav-mobile{ padding:0 !important}
.product-detail{ margin-top:23px !important}

}

@media only screen and (min-width: 767px) and (max-width: 1024px){
.fill-deatils .fill-deatils-bx .tabs{
	white-space:inherit;
	
	}
	.tab-div .tabs{ display: block !important}
	.tab-details .col.s12.center-text{padding-top:44px !important}
	.fill-form .fill-deatils .btn{font-size:18px;line-height:45px;}
	.collapsible.collapsible-tab {
  padding-left: 0 !important;
}
.cart-section .pay-option .btn{line-height:45px !important}
.sign-bx .input-field button { margin-right: 74px !important;}
.sign-bx .input-field button {
   
    top: 2px;
}
.news-bx input {
  padding-right: 54px !important;
}
.news-bx .fabivo-btn {
 
  padding: 4.3px 40px !important;
 
}
.filters-product .category-content .col.m4 {
  width: 50% !important;
}
.faq-section h1 {
    font-size: 3.2rem !important;
   
}
.category-content{ width:550px !important}
.product-bx .product-details .prize span {
  
  margin-left: 0px !important;
}

.timeline li:last-child .status{ border-top:2px solid #ddd !important}

}

@media only screen and (min-width: 799px) and (max-width: 1280px){
	
	.sign-bx .input-field button{ font-size:18px; padding:12px 30px; right:-28px;}
	.cart-section .cart-product-prize .code { width:100% !important}

	
	
	}
	
@media only screen and (min-width: 599px) and (max-width: 1920px){	

.cart-section .cart-product-prize .code {
  margin-bottom: 2%;
  width: 80%;
}
.fill-form .fill-deatils .btn {
  font-size: 15px !important;
  height: 55px;
  line-height: 43px !important;
}
.search-box-mobile .nav-wrapper input {
  width: 565px !important;
}
.order-details .pull-right .fill-form .fill-deatils .btn {
  font-size: 15px;
  height: 40px !important;
  line-height: 43px;
  padding: 4px 22px !important;
}
.filters-product .div-hide-on-med-and-down{ width:27.33% !important}
/*.filters-product .row .col.m4{width: 22.333% !important} */

/*.timeline li:last-child .status{ border-top:2px solid #ddd !important}*/

}

@media only screen and (max-width: 360px) {
	
	 #pro3  .pro3details .track-bx .track-id-bx {display:block; text-align:center;}
	#pro3 .track-bx .col.s8.right-align {text-align:center!important;}
	
	
}
@media only screen and (min-width: 799px) and (max-width: 1280px){

.category-content {
  width: 639px !important;
}
}
@media only screen and (min-width: 979px) and (max-width: 1280px){
	
	.category-content {
 	 width: 787px !important;
		}
		
	}


.accordion-div .collapsible collapsible-tab{ padding:0 !important}


.allready.modal-close {
  margin-left: 33px;
  font-size: 14px;
}
.prize .product-bx .product-details .prize span{ margin-left:0px !important}
.timeline li:last-child .status {
	border: 0;
}
@media only screen and (min-width: 320px) and (max-width: 641px){

.cart-section .cart-product-info-bx{

overflow:  unset !important;
}
}


.preloaderDiv{

  margin: auto; position: absolute; vertical-align: middle;  top: 0;    right: 0;    bottom: 0;  left: 0;
}
