.main-slider h3,
.main-slider h5 {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}
.footer,
.sign-section {
    background-attachment: fixed
}
.category-bx h3,
.category-bx img,
.category-bx:hover h3,
.category-bx:hover img,
.collapsible-header i,
.collapsible-header.active i {
    transition: all .3s ease-out 0s
}
.cart-info h5,
.fabivo-btn,
.footer .store-bx h4,
.hide-on-med-and-down a,
.login-bx h4,
.main-slider h3,
.product-bx .product-details h6,
.product-category h5 {
    text-transform: uppercase
}
.footer,
.footer .store-bx a,
.product-slider .customNavigation a,
.sign-section,
.store-bx a {
    background-size: cover;
    background-repeat: no-repeat
}
.cart-section ul li .card-n,
.copyright ul li .card-n,
.footer,
.footer .store-bx a,
.review-description .tab a.active,
.sign-section,
.store-bx a {
    background-repeat: no-repeat
}
@font-face {
    font-family: Conv_VLADIMIR;
    src: url(../fonts/VLADIMIR.eot);
    src: local('?'), url(../fonts/VLADIMIR.woff) format('woff'), url(../fonts/VLADIMIR.ttf) format('truetype'), url(../fonts/VLADIMIR.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Conv_BEBAS___;
    src: url(../fonts/BEBAS___.eot);
    src: local('?'), url(../fonts/BEBAS___.woff) format('woff'), url(f../onts/BEBAS___.ttf) format('truetype'), url(../fonts/BEBAS___.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Conv_Raleway-Light;
    src: url(../fonts/Raleway-Light.eot);
    src: local('?'), url(../fonts/Raleway-Light.woff) format('woff'), url(../fonts/Raleway-Light.ttf) format('truetype'), url(../fonts/Raleway-Light.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Conv_Raleway-Regular;
    src: url(../fonts/Raleway-Regular.eot);
    src: local('?'), url(../fonts/Raleway-Regular.woff) format('woff'), url(../fonts/Raleway-Regular.ttf) format('truetype'), url(../fonts/Raleway-Regular.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Conv_Raleway-SemiBold;
    src: url(../fonts/Raleway-SemiBold.eot);
    src: local('?'), url(../fonts/Raleway-SemiBold.woff) format('woff'), url(../fonts/Raleway-SemiBold.ttf) format('truetype'), url(../fonts/Raleway-SemiBold.svg) format('svg');
    font-weight: 400;
    font-style: normal
}
.icon-block {
    padding: 0 15px
}
.icon-block .material-icons {
    font-size: inherit
}
.row {
    margin-bottom: 0
}
.fabivo-btn {
    background-color: #00bff3;
    border: 0 solid;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
    height: 50px;
    padding: 8px 10px
}
.fabivo-btn:hover {
    background-color: #148dae
}
.fabivo-btn-2 {
    background-color: #fff;
    padding: 5px 30px;
    color: #434a54;
    font-size: 20px;
    height: auto
}
.fabivo-btn-2:hover {
    background-color: #000;
    color: #FFF
}
.img-full {
    width: 100%
}
.container {
    width: 90%!important
}
a {
    color: #fff
}
.fabivo-btn-2:focus,
.fabivo-btn:focus {
    background-color: #148dae
}
.fabivo-btn-3 {
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd
}
.fabivo-btn-3:hover {
    background-color: #00bff3;
    color: #FFF;
    border: 1px solid #00bff3
}
input.valid:focus:not([type]),
input.valid:not([type]),
input.valid[type=password],
input.valid[type=password]:focus,
input.valid[type=email],
input.valid[type=email]:focus,
input.valid[type=url],
input.valid[type=url]:focus,
input.valid[type=time],
input.valid[type=time]:focus,
input.valid[type=date],
input.valid[type=date]:focus,
input.valid[type=datetime],
input.valid[type=datetime]:focus,
input.valid[type=datetime-local],
input.valid[type=datetime-local]:focus,
input.valid[type=tel],
input.valid[type=tel]:focus,
input.valid[type=number],
input.valid[type=number]:focus,
input.valid[type=search],
input.valid[type=search]:focus,
input.valid[type=text],
input.valid[type=text]:focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus {
    border-bottom: 1px solid #00bff3;
    box-shadow: 0 1px 0 0 #00bff3
}
.header-top {
    background-color: #292929;
    padding: 10px 0
}
.header-top a {
    margin-right: 5px;
    font-size: 15px;
    color: #FFF
}
.header-top .col-1 a i {
    font-size: 20px;
    margin-right: 3px
}
.header-top .col-2 .cart-box {
    margin-left: 1em
}
.header-top .col-2 .cart-box i {
    font-size: 18px
}
.header-custom {
    height: auto
}
.header-custom.lighten-1 {
    background-color: #444546!important
}
.hide-on-med-and-down a {
    font-size: 20px;
    padding: 33px 15px
}
.header-custom .brand-logo {
    position: inherit;
    float: left;
    margin: 21px 0
}
.search-box .input-field input[type=search] {
    width: 100%;
    height: 50px;
    background-color: #FFF;
    border-radius: 3px;
    margin-bottom: 0
}
.search-box .input-field input::-webkit-input-placeholder {
    color: #000
}
.search-box .input-field input::-moz-placeholder {
    color: #000
}
.search-box .input-field input:-ms-input-placeholder {
    color: #000
}
.input-field input[type=search]~.material-icons,
.input-field input[type=search]~.mdi-navigation-close {
    right: -3rem!important;
    font-size: 1.5rem
}
.search-box .input-field button {
    position: absolute;
    background-color: inherit;
    border: 0 solid;
    color: #929292;
    font-size: 20px;
    z-index: 1;
    margin-left: 5px;
    height: 50px;
    width: 50px
}
.input-field input[type=search]:focus {
    background-color: #000;
    color: #FFF
}
.search-box i {
    line-height: 50px!important
}
.search-box {
    float: left;
    margin: 20px 0 20px 2rem
}
nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
    line-height: normal;
    height: auto
}
.login-box {
    float: left;
    margin: 20px 0 20px 6.3rem
}
.login-box a {
    margin-left: 10px
}
.login-box a:first-child {
    margin-left: 0
}
.login-box a i {
    margin-right: 5px
}
.dropdown-full {
    width: 100%;
    top: 90px!important;
    left: 0!important;
    background-color: #444546!important;
    padding: 30px
}
.dropdown-full .drop-in {
    float: left;
    width: 25%;
    padding: 0 15px
}
.dropdown-full .drop-in h4 {
    font-size: 20px;
    margin: 0 0 10px
}
.header-custom .drop-in ul {
    margin-top: 20px!important
}
.header-custom .drop-in ul li a {
    padding: 5px!important;
    line-height: auto;
    color: #FFF;
    font-size: 14px
}
.header-custom .drop-in ul li {
    min-height: auto;
    margin-bottom: 5px
}
.header-custom .drop-in ul li:hover a {
    color: #00bff3;
    background-color: inherit!important
}
.header-custom .drop-in ul li:hover {
    background-color: inherit!important
}
.header-custom .drop-in .sapreter {
    width: 100%
}
.side-nav {
    background-color: #292929;
    border: 0 solid
}
.header-custom .side-nav .collapsible-header {
    padding: 0
}
.header-custom .side-nav a {
    color: #fff;
    font-size: 18px
}
.header-custom .side-nav .collapsible-body {
    background-color: inherit
}
.header-custom .side-nav .collapsible-body .respnsive-menu-heading {
    padding: 10px 16px;
    background-color: #444546
}
.respnsive-menu-heading>h4 {
    font-size: 20px!important;
    margin-top: 0
}
.header-custom .collapsible-body ul {
    background-color: #444546
}
.header-custom .collapsible-body ul li a {
    font-size: 16px;
    color: #FFF
}
.header-custom .side-nav .collapsible-header a i {
    float: right;
    font-size: 18px
}
.my-account-bx .dropdown-content {
    top: 71px!important;
    min-width: 131px!important;
    background-color: #292929!important;
    width: 158px
}
.my-account-bx .dropdown-content li {
    min-height: auto
}
.my-account-bx .dropdown-content li.active,
.my-account-bx .dropdown-content li.selected,
.my-account-bx .dropdown-content li:hover {
    color: #FFF;
    background-color: #444546
}
.my-account-bx .dropdown-content a {
    color: #FFF;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word
}
.login-page {
    width: 50%;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px
}
.login-page .login-btn {
    display: inline-block
}
.login-page input {
    width: 93%!important
}
.main-slider .slider,
.main-slider .slider .slides li {
    height: 600px!important
}
.main-slider .slider .indicators {
    z-index: 9;
    bottom: 10px
}
.slider .indicators .indicator-item {
    width: 10px;
    height: 10px;
    margin: 5px;
    border: 1px solid #FFF
}
.slider .indicators .indicator-item.active {
    background-color: #000
}
.main-slider h3 {
    font-size: 50px
}
.main-slider h5 {
    font-size: 30px;
    margin-right: 35px;
    width: 60%
}
.line {
    background-color: #fff;
    display: block;
    height: 3px;
    width: 200px
}
.main-slider .fabivo-btn-2 {
    margin-top: 20px
}
.slider .slides li .caption {
    right: -27%!important;
    left: auto!important
}
.search-box-mobile {
    display: none
}
.category {
    margin-top: 30px
}
.category-bx {
    margin-bottom: 10px;
    position: relative
}
.pad-rg-5 {
    padding-right: 5px!important
}
.category-bx h3 {
    transform: translate3d(0, 0, 0)
}
.category-bx-on {
    position: absolute;
    right: 0;
    top: 20%;
    text-align: center;
    width: 100%
}
.category-bx:hover img {
    opacity: .7;
    background-color: #000
}
.category-bx:hover h3 {
    transform: translate3d(0, -30px, 0)
}
.category-bx-on h3 {
    font-size: 70px;
    font-weight: 700;
    color: #FFF
}
.category-bx-on h4 {
    font-size: 50px;
    font-weight: lighter;
    color: #FFF
}
.category-bx-on .fabivo-btn-2 {
    font-size: 15px;
    margin-top: 10px;
    background-color: #00bff3;
    color: #FFF
}
.category-bx-on .fabivo-btn-2:hover {
    background-color: #000
}
.on-2 {
    top: 7%;
    left: 5%;
    right: inherit;
    width: auto
}
.on-2 h3 {
    font-size: 50px;
    color: #74382a
}
.on-2 h4 {
    font-size: 30px
}
.on-2 .fabivo-btn-2 {
    background-color: #FFF;
    color: #74382a
}
.on-2 .fabivo-btn-2:hover {
    color: #FFF
}
.on-3 .fabivo-btn-2 {
    background-color: #9e0039
}
.on-4 {
    top: 35%!important
}
.on-4 h3 {
    font-size: 50px;
    color: #514e4f;
    margin-top: 40px
}
.on-4 .fabivo-btn-2 {
    background-color: inherit;
    border: 1px;
    padding: 10px 30px;
    border-radius: 0;
    font-size: 20px;
    color: #e64880
}
.sign-contant h1,
.sign-contant h2,
.sign-contant h4 {
    color: #FFF;
    margin: 0 0 10px
}
.on-5 {
    right: 5%;
    width: auto
}
.on-5 h3 {
    font-size: 50px
}
.on-5 h4 {
    font-size: 30px
}
.on-5 .fabivo-btn-2 {
    background-color: #e67d56
}
.pad-rg-8 {
    padding-right: 8px!important
}
.pad-lf-8 {
    padding-left: 8px!important
}
.sign-contant h1 {
    font-size: 90px;
    font-family: Conv_VLADIMIR
}
.sign-contant h2 {
    font-size: 70px;
    font-weight: 700
}
.sign-contant h4 {
    font-size: 22px
}
.sign-section {
    background-image: url(../img/sign-up-bg.png);
    text-align: center;
    margin-top: 15px
}
.store-bx .aap-store,
.store-bx .play-store {
    background-image: url(../img/app-btn-big.png)
}
.overlay {
    background-color: rgba(54, 56, 55, .6);
    padding: 100px 0
}
.sign-bx .input-field {
    width: 700px;
    margin: 0 auto
}
.sign-bx .input-field input {
    height: 60px;
    font-size: 18px;
    border-bottom: 2px solid #FFF;
    width: 480px;
    padding-right: 200px
}
.sign-bx .input-field i {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    color: #868888;
    font-size: 20px
}
.sign-bx {
    margin-top: 40px
}
.sign-bx .input-field input[type=search]:focus {
    border-bottom: 2px solid #000
}
.sign-bx .input-field a {
    position: absolute;
    right: -40px;
    top: 0;
    padding: 12px 30px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 0;
    height: auto
}
.store-bx-img {
    position: relative
}
.store-bx {
    position: absolute;
    left: 5%;
    top: 5%
}
.store-bx h4 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 0
}
.store-bx a {
    width: 200px;
    height: 68px;
    display: block
}
.store-bx .play-store {
    background-position: 0 -70px;
    margin-top: 5px
}
.footer {
    background-image: url(../img/footer-bg.png);
    margin-top: 30px
}
.footer-overlay {
    background-color: rgba(49, 49, 49, .9);
    padding: 50px 0 25px
}
.sapreter {
    height: 2px;
    width: 198px;
    margin-top: 10px;
    background-color: #4db9e0;
    display: block
}
.footer .footer-link {
    padding: 0;
    margin: 20px 0 0;
    list-style: none
}
.footer .footer-link li {
    padding: 3px 0
}
.footer .footer-link li a {
    color: #FFF;
    font-size: 16px
}
.footer .footer-link li a:hover {
    color: #FFF!important
}
.footer-heading h4 {
    font-size: 25px;
    color: #FFF;
    margin-bottom: 15px
}
.social-box {
    margin-top: 37px
}
.social-box ul {
    list-style: none;
    padding: 0;
    margin: 0
}
.social-box ul li {
    float: left;
    padding-right: 10px
}
.social-box ul li i {
    font-size: 20px
}
.news-bx {
    position: relative;
    margin-top: 4em
}
.news-bx input {
    padding-left: 15px!important;
    background-color: #FFF;
    border-bottom: 0
}
.news-bx input::-webkit-input-placeholder {
    color: #000
}
.news-bx input::-moz-placeholder {
    color: #000
}
.news-bx input:-ms-input-placeholder {
    color: #000
}
.news-bx .fabivo-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    border-radius: 0;
    padding: 4.3px 10px!important;
    height: auto
}
.footer .store-bx {
    margin-top: 5em;
    position: inherit
}
.footer .store-bx h4 {
    font-size: 20px;
    color: #FFF;
    margin-bottom: 20px
}
.footer .store-bx a {
    float: left;
    background-image: url(../img/app-btn.png);
    width: 136px;
    height: 40px;
    display: block
}
.footer .store-bx .play-store {
    background-position: -140px 0;
    margin-top: 0;
    margin-left: 10px
}
.footer-sapreter {
    height: 3px;
    width: 100%;
    display: block;
    background-color: #225b6b;
    margin-top: 15px
}
.copyright {
    margin: 25px 0 0
}
.copyright a {
    color: #FFF;
    font-size: 16px
}
.copyright a:hover {
    color: #FFF!important;
    text-decoration: none
}
.copyright a span {
    color: #4db9e0
}
.copyright ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right
}
.copyright ul li {
    padding-right: 10px;
    display: inline-block
}
.copyright ul li .card-n {
    width: 45px;
    height: 27px;
    background-image: url(../img/card.png);
    display: block
}
.copyright ul li .card-2 {
    background-position: -61px 0
}
.copyright ul li .card-3 {
    background-position: -113px 0
}
.copyright ul li .card-4 {
    background-position: -159px 0;
    width: 52px
}
.footer-mobile {
    display: none
}
.login-bx h4 {
    font-weight: lighter;
    font-size: 30px;
    margin-top: 10px
}
.login-bx .contant {
    margin: 30px 0 20px
}
.login-bx input,
.login-bx label {
    margin-left: 2.5em
}
.login-bx .contant span {
    display: block
}
.login-bx .contant span i {
    right: 0;
    text-align: right
}
.login-bx input {
    position: relative;
    width: 94.2%
}
.login-bx .input-field i {
    font-size: 25px;
    padding: 12px;
    position: absolute;
    left: 0;
    top: 0
}
.login-bx input:focus:not([type]):not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #00bff3!important
}
.login-bx #remember-me label {
    margin-left: 0!important
}
.mr-lf {
    margin-left: -10px!important
}
.login-bx img {
    background-color: #000;
    padding: 10px
}
.login-bx i {
    color: #00bff3
}
.login-bx [type=checkbox]:checked+label::before {
    border-color: transparent #00bff3 #00bff3 transparent
}
.login-bx p a {
    color: #9e9e9e
}
.login-bx .login-btn {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px
}
.login-bx .login-btn button:first-child {
    margin-right: 20px
}
.login-bx input:focus {
    border-bottom: 1px solid #00bff3!important;
    box-shadow: 0 1px 0 0 #00bff3!important
}
.modal {
    max-height: 100%;
    top: 1%!important
}
#modal2 .col.s6 input {
    width: 88%!important
}
.allready {
    margin-left: 28px
}
.sort-by {
    line-height: 12px;
    margin-top: 22px
}
.sort-by ul {
    padding: 0;
    list-style: none
}
.sort-by ul li {
    float: left;
    border-right: 1px solid #494949
}
.sort-by ul li:first-child {
    border-right: 0;
    margin-right: 5px
}
.sort-by ul li a {
    color: #494949;
    padding: 0 10px
}
.sort-by ul li.active a {
    color: #3094EA
}
.listing-breadcrumb .pagination li a {
    font-size: 14px
}
.listing-breadcrumb .pagination li.active {
    background-color: inherit
}
.listing-breadcrumb .pagination li.active a {
    color: #3094ea
}
.listing-breadcrumb .pagination .disabled {
    background-color: #8d8d8d!important;
    width: 30px
}
.listing-breadcrumb .pagination .disabled a {
    color: #FFF;
    padding-left: 0
}
.listing-breadcrumb {
    margin: 20px 0
}
.product-category {
    background-color: #f0f0f0;
    padding: 20px 0
}
.product-category h5 {
    font-size: 16px;
    margin: 0
}
.product-category-breadcrumb ul {
    margin: 0
}
.product-category-breadcrumb li {
    float: left
}
.product-category-breadcrumb li a {
    color: #1d1c1c;
    padding: 0 10px;
    font-size: 16px
}
.product-category-breadcrumb li::after {
    content: "/"
}
.product-category-breadcrumb ul li:last-child::after {
    content: inherit
}
.product-category-breadcrumb ul li:last-child a {
    cursor: inherit
}
.filters-product {
    margin-top: 20px
}
.filters-list .collapsible {
    box-shadow: inherit;
    border: 0
}
.filters-list .collapsible .collapsible-header {
    font-size: 15px;
    color: #616060!important;
    padding: 15px 10px
}
.filters-list .collapsible .collapsible-body ul {
    margin: 20px 0
}
.filters-list .collapsible .collapsible-body ul li {
    padding: 5px 10px 5px 20px
}
.filters-list .collapsible .collapsible-body ul li a {
    color: #616060;
    font-size: 12px
}
.cart-info {
    margin: 40px 0
}
.cart-info h5 {
    color: #1d1c1c;
    font-size: 18px;
    margin: 0 0 10px
}
.cart-info p {
    color: #9d9c9c
}
.filters-list-2 .collapsible .collapsible-header {
    padding: 3px;
    color: #1d1c1c;
    border-bottom: 1px solid #ddd
}
.product-bx,
.range {
    padding-bottom: 20px
}
.filters-list-2 .collapsible .border {
    border-top: 1px solid #ddd
}
.filters-list-2 .collapsible .collapsible-header i {
    float: right;
    font-weight: lighter;
    color: #898989
}
.collapsible-header.active i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}
.range {
    margin-top: 20px;
    border-bottom: 1px solid #ddd
}
.range .output {
    font-size: 18px;
    color: #7f7f7f
}
.product-bx {
    margin-bottom: 20px;
    border-radius: 0;
    border-bottom: 2px solid #fff
}
.product-bx:hover {
    border-bottom: 2px solid #00BFF3
}
.product-bx .product-img {
    position: relative;
    margin-bottom: 20px
}
.product-bx .product-img a img {
    display: block;
    background-color: #f0f0f0
}
.sell-bx {
    background-color: #fe562b;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    padding: 16px 0;
    position: absolute;
    left: 5%;
    top: 5%
}
.product-bx .product-details h5 {
    font-size: 12px;
    color: #777;
    text-transform: uppercase;
    margin: 10px 0 0
}
.product-bx .product-details h6 {
    color: #2c2c2c;
    font-size: 12px;
    margin: 10px 0 0
}
.product-bx .product-details .fabivo-btn-3 {
    margin-top: 15px
}
.product-bx .product-details .prize {
    margin-top: 5px
}
.product-bx .product-details .prize del {
    font-size: 14px;
    color: #2c2c2c
}
.product-bx .product-details .prize span {
    color: #777;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 700
}
.product-bx-add {
    position: relative;
    margin-top: 30px
}
.product-bx-add-contant {
    position: absolute;
    right: 5%;
    top: 4%;
    text-align: right
}
.product-bx-add-contant h5 {
    font-size: 22px;
    color: #000;
    font-family: Conv_BEBAS___
}
.product-bx-add-contant p {
    font-size: 12px;
    color: #3d3a3a
}
.product-bx-add-contant a {
    font-size: 16px;
    font-family: Conv_BEBAS___;
    color: #3094ea
}
.product-detail {
    margin-top: 50px
}
.product-detail .product-info h5 {
    font-size: 25px;
    text-transform: capitalize;
    margin: 0 0 10px;
    font-family: Conv_Raleway-Regular
}
.product-detail .product-info h6 {
    color: #606060;
    font-size: 18px;
    margin: 0;
    font-family: Conv_Raleway-Light
}
.product-detail .product-info .prize {
    font-size: 30px;
    color: #211f1f;
    margin: 15px 0;
    font-family: Conv_Raleway-Light
}
.product-detail .product-info .product-size h6 {
    font-size: 16px;
    color: #211f1f;
    font-family: Conv_Raleway-SemiBold
}
.product-detail .product-info .product-size a {
    color: #4db9e0;
    font-family: Conv_Raleway-SemiBold
}
.product-detail .product-info .product-size a span {
    color: #606060
}
.product-detail .product-info ul {
    margin-top: 25px
}
.product-detail .cart-wish-btn,
.product-detail .description {
    margin-top: 40px
}
.product-detail .product-info li {
    float: left;
    margin-right: 10px
}
.product-detail .product-info li a {
    width: 50px;
    height: 50px;
    border: 1px solid #DDD;
    border-radius: 100%;
    padding: 5px 0;
    color: #606060!important;
    background-color: inherit;
    box-shadow: inherit;
    font-size: 18px
}
.product-slider #owl-demo .item:hover,
.review:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2)
}
.product-detail .product-info li.active a {
    background-color: #000;
    color: #fff!important
}
.product-detail .description h5 {
    font-size: 20px;
    color: #0b0b0b;
    font-family: Conv_Raleway-SemiBold
}
.product-detail .description input {
    height: 43px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 15px;
    width: auto;
    float: left
}
.product-detail .description a {
    float: left;
    margin-left: 20px;
    color: #00aeef;
    display: block;
    line-height: 43px;
    font-family: Conv_Raleway-SemiBold
}
.product-detail .description input:focus {
    border: 1px solid #ddd
}
.product-detail .description p {
    font-size: 16px;
    color: #7a7a7a;
    font-family: Conv_Raleway-SemiBold
}
.product-slider #owl-demo .item a h6,
.review .user-contant p,
.review-description #description p,
.review-description #return p,
.review-description .tab a {
    font-family: Conv_Raleway-Regular
}
.product-detail .cart-wish-btn .btn {
    margin-right: 20px;
    text-transform: uppercase;
    border-radius: 0
}
.review-description .tab a {
    font-size: 16px;
    color: #211f1f;
    transition: border-color .9s ease 0s;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF
}
.review-description .tabs .tab a:hover {
    color: #211f1f
}
#return,
#review,
.review-description #description {
    margin-top: 20px
}
.review-description #description p {
    font-size: 16px;
    color: #211f1f;
    margin-top: 0
}
.review-description .tabs .indicator {
    display: none
}
.review-description .tab a.active {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    will-change: left, right;
    transition: border-color .9s ease 0s;
    color: #211f1f;
    background-position: center 46px
}
.review {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    transition: all .3s ease-out 0s
}
.review:hover {
    transition: all .3s ease-out 0s
}
.review .user-img img {
    border-radius: 100%;
    width: 80px;
    height: 80px
}
.review .user-contant .reating span {
    content: "\f005";
    margin-right: 5px;
    color: #FED638;
    font-size: 15px
}
.review .user-contant p {
    margin: 5px 0;
    color: #7a7a7a;
    font-size: 14px
}
.review-description #return p {
    font-size: 16px;
    color: #211f1f;
    margin-top: 0
}
.product-slider {
    margin-top: 50px
}
.product-slider #owl-demo .item {
    margin: 0 20px;
    text-align: center;
    transition: all .3s ease-out 0s
}
.product-slider #owl-demo .item a h6 {
    font-size: 18px;
    color: #4db9e0;
    display: block;
    padding: 20px 8px;
    margin-top: 0
}
.product-slider #owl-demo .item img {
    display: block;
    width: 100%;
    height: auto
}
.product-slider .product-slider-heading {
    display: block
}
.product-slider .product-slider-heading h5 {
    font-size: 25px;
    color: #211f1f;
    margin: 0 0 10px;
    font-family: Conv_Raleway-SemiBold
}
.product-slider-heading span {
    height: 2px;
    background-color: #e5e5e5;
    display: inline-block;
    float: left;
    margin: 10px 0;
    width: 100%
}
.product-slider .owl-pagination {
    display: none
}
.product-slider .customNavigation a {
    background-image: url(../img/product-arrow.png);
    width: 35px;
    height: 33px;
    display: inline-block;
    margin: 0 5px
}
.product-slider .customNavigation {
    margin: 10px 0;
    text-align: right
}
.product-slider .customNavigation .next {
    background-position: -33px 0
}
.product-slider #owl-demo .item:hover {
    transition: all .3s ease-out 0s
}
.cart-section {
    margin-top: 30px
}
.cart-section .cart-product-img {
    margin-bottom: -5px;
    position: relative
}
.cart-section .cart-product-img .cart-remove {
    position: absolute;
    left: 4%;
    top: 4%
}
.cart-section .cart-product-img .cart-remove a {
    margin: 0 5px
}
.cart-section .cart-product-img .cart-remove a i {
    font-size: 20px;
    color: #01bff3
}
.cart-section .cart-product-info {
    background-color: #f4f4f4;
    margin-bottom: 20px
}
.cart-section .cart-product-info .cart-details {
    padding: 20px 30px
}
.cart-section .cart-product-info .cart-details h5 {
    font-size: 25px;
    color: #606060;
    font-family: Conv_Raleway-Light
}
.cart-section .cart-product-info .cart-details .heading,
.cart-section .cart-product-info .cart-details input {
    font-size: 24px;
    font-family: Conv_Raleway-SemiBold
}
.cart-section .cart-product-info .cart-details input {
    border-bottom: 0 solid;
    color: #0b0b0b
}
.cart-section .cart-product-info .cart-details .input-field {
    margin: -3px 0 0 15px;
    width: 80px;
    height: 50px;
    color: #0b0b0b
}
.cart-section .cart-product-info .cart-details .select-wrapper span.caret {
    font-size: 15px
}
.cart-section .cart-product-info .cart-details .select-dropdown.active {
    left: 0!important;
    top: 0!important
}
.cart-section .cart-product-info .cart-details .dropdown-content li>a,
.dropdown-content li>span {
    color: #0b0b0b
}
.cart-section .cart-product-info .cart-details .size-qty {
    margin-top: 20px
}
.cart-section .cart-product-info .cart-details p {
    font-size: 18px;
    color: #211f1f;
    font-family: Conv_Raleway-Regular
}
.cart-section .cart-product-info .cart-details h6 {
    font-size: 25px;
    color: #000;
    font-family: Conv_Raleway-SemiBold;
    margin-top: 10%
}
.cart-section .cart-product-prize {
    background-color: #f4f4f4;
    padding: 20px
}
.cart-section .cart-product-prize .code input {
    margin: 0;
    border: 2px solid #797979;
    padding: 0 15px
}
.cart-section .cart-product-prize .code {
    margin-bottom: 2%
}
.cart-section .cart-product-prize .code .input-field {
    margin-top: 0
}
.cart-section .cart-product-prize .code input:focus {
    border: 2px solid #000
}
.cart-section .cart-product-prize .code .btn {
    height: 48px;
    background-color: inherit;
    font-size: 16px;
    line-height: 48px;
    border: 2px solid #797979
}
.cart-section .cart-product-prize .code .btn:hover {
    background-color: #000;
    border: 2px solid #000
}
.cart-section .cart-product-prize .pay-details h5 {
    font-size: 20px;
    color: #000;
    font-family: Conv_Raleway-SemiBold;
    margin-bottom: 20px
}
.cart-section .cart-product-prize .pay-details span {
    font-size: 18px;
    font-family: Conv_Raleway-Regular;
    margin-bottom: 5px;
    font-weight: 700
}
.cart-section .cart-product-prize .pay-details p {
    font-size: 15px;
    font-family: Conv_Raleway-Regular;
    color: #211f1f;
    margin: 0
}
.cart-section .cart-product-prize .pay-details {
    padding: 10px 0 20px
}
.cart-section .cart-product-prize .border {
    height: 1px;
    background-color: #797979;
    display: block;
    margin: 0 -20px
}
.cart-section .cart-product-prize .net-details h5 {
    font-size: 20px;
    color: #000;
    font-family: Conv_Raleway-SemiBold;
    margin: 0
}
.cart-section .cart-product-prize .net-details {
    padding-top: 20px
}
.cart-section .cart-product-prize .net-details span {
    font-size: 20px;
    font-family: Conv_Raleway-Regular;
    font-weight: 700
}
.cart-section .cart-itam {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-family: Conv_Raleway-SemiBold;
    margin-bottom: 20px
}
.cart-section .cart-itam i {
    font-size: 30px;
    color: #00bff3;
    margin-right: 20px
}
.cart-section .pay-option {
    margin-top: 20px
}
.cart-section .pay-option .btn {
    display: block;
    height: 75px;
    line-height: 65px;
    font-size: 25px
}
.cart-section ul {
    list-style: none;
    padding: 0;
    margin-top: 20px
}
.cart-section ul li {
    float: left;
    padding-right: 10px
}
.cart-section ul li .card-n {
    width: 45px;
    height: 27px;
    background-image: url(../img/card.png);
    display: block
}
.cart-section .pay-option ul li .card-2 {
    background-position: -61px 0
}
.cart-section .pay-option ul li .card-3 {
    background-position: -113px 0
}
.cart-section .pay-option ul li .card-4 {
    background-position: -159px 0;
    width: 52px
}
.cart-section .cart-product-prize .code input::-webkit-input-placeholder {
    color: #000
}
.cart-section .cart-product-prize .code input::-moz-placeholder {
    color: #000
}
.cart-section .cart-product-prize .code input:-ms-input-placeholder {
    color: #000
}
.cart-section .cart-product-info-bx {
    min-height: 370px;
    max-height: 894px;
    overflow-y: auto;
    overflow-x: hidden
}
.chackout-header {
    background-color: #444546;
    padding: 10px 0
}
.chackout-form {
    margin-top: 30px
}
.chackout-form .login-details {
    border: 1px solid #abacac;
    margin-top: 20px
}
.chackout-form .login-details:first-child {
    margin-top: 0
}
.chackout-form .heading {
    background-color: #dcdfdf;
    border-bottom: 1px solid #abacac;
    padding: 10px;
    text-align: center
}
.chackout-form .heading h5 {
    font-size: 18px;
    color: #000;
    margin: 0;
    line-height: 28px
}
.chackout-form .heading span {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #444546;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
    text-align: center
}
.chackout-form .login-details .mail-id {
    padding: 15px
}
.chackout-form .login-details .mail-id p {
    font-size: 18px;
    color: #747676;
    margin: 0;
    font-family: Conv_Raleway-SemiBold
}
.chackout-form .login-details .mail-id a {
    font-size: 16px;
    color: #000;
    font-family: Conv_Raleway-SemiBold
}
.chackout-form .login-details .mail-id span {
    font-size: 21px;
    color: #000;
    font-family: Conv_Raleway-SemiBold;
    margin-top: 5px
}
.fill-form {
    padding: 0 0 10px;
    border: 1px solid #abacac;
    margin-bottom: 30px
}
.fill-form .heading {
    text-align: left
}
.fill-form .fill-deatils {
    padding: 20px
}
.fill-form .fill-deatils input{ border:1px solid #abacac; padding:0px 2%; width:94%; color:#000; height: 40px; font-size:14px;}
.fill-form .fill-deatils input:focus {
    border: 1px solid #00bff3;
    box-shadow: 0 1px 0 0 #00bff3
}
.fill-form .fill-deatils input::-webkit-input-placeholder {
    color: #000
}
.fill-form .fill-deatils input::-moz-placeholder {
    color: #000
}
.fill-form .fill-deatils input:-ms-input-placeholder {
    color: #000
}
.fill-form .fill-deatils select {
    border: 1px solid #abacac;
    color: #767676;
    height: 3rem
}
/*.fill-form .fill-deatils .btn {
    font-size: 20px;
    color: #fff;
    height: 64px;
    border-radius: 1px;
    line-height: 64px;
    padding: 0 2rem;
    width: 30%;
    margin: 0 20px
}*/
.fill-form .fill-deatils .btn-box {
    margin-top: 2rem
}
.checkout-footer {
    background-color: #313131;
    padding: 20px 0
}
.contact-form .fabivo-btn-2,
.faq-section .collapsible-header span,
.myaccount .tabs .indicator,
.sepretar,
.with-gap[type=radio]:checked+label::after,
[type=radio]:checked+label::after {
    background-color: #00bff3
}
.checkout-footer .copyright {
    margin-top: 0
}
.faq-section {
    margin-top: 3%
}
.faq-section .faq-category .tab {
    text-align: left;
    border-bottom: 1px solid #999;
    height: auto
}
.faq-section .faq-category .tab a {
    padding: 0 10px;
    color: #333;
    font-size: 16px;
    text-transform: capitalize;
    transition: all .3s ease-out 0s
}
.faq-section .faq-category .tab span {
    float: left
}
.faq-section .faq-category .tab a.active {
    background-color: #00bff3;
    color: #FFF;
    transition: all .3s ease-out 0s
}
.faq-section .faq-category .tab a i {
    float: right;
    line-height: 48px
}
.faq-section .faq-category .tab:first-child {
    border-top: 1px solid #777
}
.faq-section .faq-category .indicator {
    display: none
}
.faq-section .faq-category .tabs {
    height: auto;
    overflow-x: inherit;
    overflow-y: inherit
}
.faq-section .collapsible-header {
    color: #333;
    line-height: 1.5;
    padding: 1rem
}
.faq-section .collapsible-body {
    color: #333
}
.faq-section .collapsible-header i {
    float: right!important;
    margin-right: 0!important;
    color: #00bff3;
    font-size: 18px;
    margin: -.7rem 0
}
.faq-section .collapsible {
    margin: 0
}
.faq-section .collapsible-header span {
    font-size: 15px;
    color: #FFF;
    border-radius: 100%;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-right: 10px
}
.contact-us-section {
    margin-top: 3%
}
.contact-us-section .contact-info {
    padding: 30px 0;
    border: 1px dashed #777
}
.contact-us-section .contact-info i {
    font-size: 70px;
    margin-bottom: 20px;
    color: #00bff3
}
.contact-us-section .contact-info h5 {
    font-size: 20px;
    color: #444546;
    text-transform: uppercase;
    margin: 5px 0;
    font-weight: 700
}
.contact-us-section .contact-info p {
    font-size: 14px;
    color: #777;
    margin: 0
}
.contact-us-section .map {
    margin: 30px 0;
    height: 300px
}
.sepretar {
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 350px
}
.sepretar-down {
    height: 1px;
    margin-top: 1px;
    width: 280px
}
.contact-form h4 {
    font-size: 20px;
    color: #444546;
    margin: 0 0 10px;
    text-transform: uppercase
}
.contact-form .heading {
    margin: 20px 0
}
.contact-us-section .contact-form input:focus,
.contact-us-section .contact-form textarea:focus {
    border-bottom: 1px solid #00bff3!important;
    box-shadow: 0 1px 0 0 #00bff3!important
}
.contact-form .fabivo-btn-2 {
    margin-top: 30px;
    color: #FFF
}
.myaccount .tabs a {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Conv_Raleway-Regular
}
.myaccount .addrase-btn,
.wallet-bx .money-info a,
.wallet-bx .money-info span {
    font-family: Conv_Raleway-SemiBold
}
.myaccount .tabs .tab a:hover,
.tabs .tab a.active {
    color: #000
}
.myaccount .tabsin {
    margin-top: 30px;
    min-height: 200px
}
.myaccount input:focus {
    border-bottom: 1px solid #00bff3!important;
    box-shadow: 0 1px 0 0 #00bff3
}
.with-gap[type=radio]:checked+label::after,
.with-gap[type=radio]:checked+label::before,
[type=radio]:checked+label::after {
    border: 2px solid #00bff3
}
.gander {
    color: #9e9e9e;
    margin-top: 1rem;
    margin-bottom: 5px;
    font-size: 1rem
}
.myaccount .button {
    margin-top: 3rem
}
.myaccount .addrase-btn {
    border: 1px solid #00bff3;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    color: #00bff3;
    display: block;
    cursor: pointer
}
.myaccount #pro1 .input-field {
    margin-top: 0
}
.mar-top {
    margin-top: 1rem
}
.myaccount .select-wrapper input.select-dropdown {
    color: #9e9e9e
}
.myaccount .pro2-form {
    display: none
}
.myaccount .pro3details {
    border: 1px solid #ccc;
    margin-bottom: 20px
}
.pro3details .track-bx {
    padding: 10px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #CCC
}
.pro3details .track-bx .track-id-bx {
    background-color: #00bff3;
    padding: 10px;
    font-size: 15px;
    color: #FFF;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2)
}
.pro3details .pro3-product-details-bx {
    padding: 10px 20px
}
.pro3details p {
    margin: 2px 0 0;
    color: #444546;
    font-size: 14px
}
.pro3details p b {
    margin-right: 7px
}
.total-bx {
    margin: 0 20px;
    padding: 10px 5px;
    border-top: 1px solid #ccc
}
.wallet-bx .money-info {
    margin-bottom: 15px;
    display: block
}
.wallet-bx .money-info span {
    color: #444546
}
.wallet-bx .money-info a {
    color: #00bff3
}
.wallet-bx .my-money {
    border: 1px solid #ccc;
    padding: 20px 10px;
    text-align: center;
    font-size: 15px;
    font-family: Conv_Raleway-Regular
}
.wallet-bx .my-money p {
    margin: 0;
    color: #00bff3
}
.wallet-bx .s7 .my-money {
    border-left: 0 solid
}
.myaccount #pro4 .input-field {
    margin-top: 0
}
.myaccount #pro4 .cupan-code-bx button {
    font-size: 14px;
    padding: 0 25px;
    height: 45px
}
.myaccount #pro4 .gift-btn {
    display: block;
    border: 1px solid #00bff3;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    color: #00bff3
}
#pro5 a {
    color: #00bff3;
    margin: 29px 0
}
.pro3-product-details-bx .makeequal{
    min-height: 175px;


}
    .accordion-div {display:none;}
    .order_summary_sm {display:none;}
    .tab-div {display:block ;}
@media only screen and (min-width: 320px) and (max-width: 767px) {


        .tab-div {display:none !important;}
         .accordion-div {display:block !important;}
}
@media only screen and (min-width: 320px) and (max-width: 800px) {

      .order_summary_sm {display:block  !important;}
       .order_summary_xl {display:none !important;}
}
    .my-account-bx-mobile a {
    padding-left: 0;
}
.product-slider #owl-demo .item a h6 {
    color: #777;
   text-transform: uppercase;
       text-overflow: ellipsis;
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price-detail {
    text-transform: capitalize;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
.cart-section .cart-itam{

        font-size: 14px;
        margin:0px !important;
        padding:0px !important;
    }
    .cart-section .cart-product-prize .net-details h5, .cart-section .cart-product-prize .pay-details h5, .cart-section .cart-product-prize .pay-details span{
        font-size: 13px !important;

    }
    .cart-section .cart-product-prize .net-details span{
    font-size: 13px !important;        
    }
    .cart-section .cart-product-prize .pay-details p{text-align: justify;}
    .cart-section .cart-product-prize .code .btn{font-size: 13px;  height: 45px;}
    .header-custom .side-nav a,.header-custom .collapsible-body ul li a{font-size: 15px;}
    .respnsive-menu-heading > h4{font-size: 17px !important;}
    .my-account-bx-mobile a {
    padding-left: 0;
        }
.product-detail .product-info h5{font-size: 18px !important;}
.product-detail .product-info h6{ font-size: 15px !important;line-height:150% !important;}
.product-detail .product-info .prize{ margin: 10px 0;   font-size: 25px;}
.product-detail .cart-wish-btn .btn{font-size: 14px  !important;}
.product-detail .description h5{font-size: 16px  !important;}
.product-detail .description p{font-size: 13px  !important;}
.product-detail .description input{width: 54%; }
.product-detail .review-description .tabs{overflow:hidden !important;padding-left:0px !important;}
.product-detail .review-description .tabs .tab{width: 50% !important; display: inline-block !important;}
.product-detail .review-description .tab a{font-size:13px !important;}
.product-detail .review-description  p {
    font-size: 13px;
    text-align: justify;
}
.chart{font-size: 13px;}
.product-slider #owl-demo .item a h6 { font-size: 13px; }
.panel-box h3{ font-size: 15px !important;}
.chackout-form .fill-deatils .login-details:first-child{
      margin-top: 15px !important;
    }
.price-detail .row .col{width: 50% !important;}   
.account-details-bx .product-details-bx .price-detail h6 span{
      color: #222 !important;
      margin-top:0px !important;
      display: inline !important;
      margin-left: 5px; 
} 
.account-details-bx .product-details-bx span{
      margin-top:0px !important;
}

}
.product-details-bx .price-detail h6 span{
    display: inline !important;
    color: #222 !important;
}
.pro3-product-details-bx p a{display: block;}
.my-account-bx  .fabivo-btn{
    height:45px !important;
    padding: 5px 10px !important;
}