/* Custom Stylesheet */

/*********font*************/
@font-face {
	font-family: 'robotolight';
	src: url('../fonts/roboto/roboto-light_0.woff2') format('woff2'),  url('../fonts/roboto/roboto-light_0.woff') format('woff');
        src: local('?'), url(../fonts/roboto/roboto-light_0.woff2) format('woff'), url(../fonts/roboto/roboto-light_0.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto/roboto-regular_0.woff2') format('woff2'),  url('../fonts/roboto/roboto-regular_0.woff') format('woff');
        src: local('?'), url(../fonts/roboto/roboto-light_0.woff2) format('woff'), url(../fonts/roboto/roboto-light_0.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotothin';
	src: url('../fonts/roboto/roboto-thin_0.woff2') format('woff2'),  url('../fonts/roboto/roboto-thin_0.woff') format('woff');
        src: local('?'), url(../fonts/roboto/roboto-light_0.woff2) format('woff'), url(../fonts/roboto/roboto-light_0.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_GreatVibes-Regular';
	src: url('../fonts/roboto/greatvibes-regular.eot');
	src: local('?'), url('../fonts/roboto/greatvibes-regular.woff') format('woff'), url('../fonts/roboto/greatvibes-regular.ttf') format('truetype'), url('../fonts/roboto/greatvibes-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
/*********common*************/	


body {
	background: #fff;
	font-family: 'robotoregular';
}
.row {
	margin-bottom: 0px;
}
.fabivo-btn {
	background-color: #00bff3;
	border: 0 solid;
	border-radius: 3px;
	color: #fff;
	font-size: 17px;
	height: 50px;
	padding: 8px 10px;
	text-transform: uppercase;
}
.fabivo-btn:hover {
	background-color: #148dae;
}
.fabivo-btn-2 {
	background-color: #fff;
	padding: 5px 30px;
	color: #434a54;
	font-size: 20px;
	height: auto;
}
.fabivo-btn-2:hover {
	background-color: #000;
	color: #FFF;
}
.img-full {
	width: 100%;
}
.container {
	width: 90% !important;
}
a {
	color: #fff;
}
.fabivo-btn:focus {
	background-color: #148dae;
}
.fabivo-btn-2:focus {
	background-color: #148dae;
}
.fabivo-btn-3 {
	font-size: 12px;
	background-color: #fff;
	color: #000;
	border: 1px solid #ddd;
}
.fabivo-btn-3:hover {
	background-color: #00bff3;
	color: #FFF;
	border: 1px solid #00bff3;
}
/*********header*************/	
.header-top {
	background-color: #f9f9f9;
	padding: 10px 0px;
	border-bottom: 1px solid #dfdfdf;
}
.header-top a {
	margin-right: 5px;
	font-size: 17px;
	color: #9D812E;
}
.header-top .col-1 a i {
	font-size: 20px;
	margin-right: 3px;
}
.header-top .col-2 .cart-box {
	margin-left: 1em;
}
.header-top .col-2 .cart-box i {
	font-size: 18px;
}
.header-custom {
	height: auto;
}
.header-custom.lighten-1 {
	background-color: #fff;
}
.hide-on-med-and-down a {
	font-size: 14px;
	padding: 34px 15px;
}
.header-custom .brand-logo {
	position: inherit;
	float: left;
	margin-top: 14px;
}
.search-box .input-field input[type="search"] {
	width: 100%;
	height: 50px;
	background-color: #FFF;
	border-radius: 3px;
	margin-bottom: 0px;
}
.search-box .input-field input::-webkit-input-placeholder {
color:#000;
}
.search-box .input-field input::-moz-placeholder {
color:#000;
}
.search-box .input-field input:-ms-input-placeholder {
color:#000;
}
.input-field input[type="search"] ~ .mdi-navigation-close, .input-field input[type="search"] ~ .material-icons {
	right: -3rem !important;
	font-size: 1.5rem;
}
.input-field button {
	position: absolute;
	background-color: inherit;
	border: 0px solid;
	color: #929292;
	font-size: 20px;
	z-index: 1;
	margin-left: 5px;
	height: 50px;
	width: 50px;
}
.input-field input[type="search"]:focus {
	background-color: transparent;
	color: #212121;
}
.search-box i {
	line-height: 50px !important;
}
.search-box {
	float: left;
	margin: 20px 0px;
	margin-left: 2rem;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	line-height: normal;
	height: auto;
}
.login-box {
	float: left;
	margin: 20px 0 20px 6.3rem;
}
.login-box a {
	margin-left: 10px;
}
.login-box a:first-child {
	margin-left: 0px;
}
.login-box a i {
	margin-right: 5px;
}
.dropdown-full {
	width: 68%;
	top: 90px !important;
	left: 0px !important;
	background-color: #444546 !important;
	padding: 30px;
}
.dropdown-full .drop-in {
	float: left;
	width: 25%;
	padding: 0px 15px;
}
.dropdown-full .drop-in h4 {
	font-size: 20px;
	margin: 0px 0px 10px 0px;
}
.header-custom .drop-in ul {
	margin-top: 20px !important;
}
.header-custom .drop-in ul li a {
	padding: 5px !important;
	line-height: auto;
	color: #FFF;
	font-size: 14px;
}
.header-custom .drop-in ul li {
	min-height: auto;
	margin-bottom: 5px;
}
.header-custom .drop-in ul li:hover a {
	color: #00bff3;
	background-color: inherit !important;
}
.header-custom .drop-in ul li:hover {
	background-color: inherit !important;
}
.header-custom .drop-in .sapreter {
	width: 100%;
}
.side-nav {
	background-color: #292929;
	border: 0px solid;
}
.header-custom .side-nav .collapsible-header {
	padding: 0px;
}
.header-custom .side-nav .collapsible-header a {
	color: #fff;
	font-size: 18px;
}
.header-custom .collapsible-body ul {
	background-color: #444546;
}
.header-custom .collapsible-body ul li a {
	font-size: 16px;
	color: #FFF;
}
.header-custom .side-nav .collapsible-header a i {
	float: right;
	font-size: 18px;
}
.my-account-bx .dropdown-content {
	top: 71px !important;
	min-width: 131px !important;
	background-color: #292929!important;
}
.my-account-bx .dropdown-content li:hover, .my-account-bx .dropdown-content li.active, .my-account-bx .dropdown-content li.selected {
	color: #FFF;
	background-color: #444546;
}
.my-account-bx .dropdown-content a {
	color: #FFF;
	padding: 0px 10px;
	min-height: 50px;
	line-height: 50px;
}
/*********header*************/
.main-slider .slider {
	height: 550px !important;
}
.main-slider .slider .slides li {
	height: 550px !important;
}
.main-slider .slider .indicators {
	z-index: 9;
	bottom: 10px;
}
.slider .indicators .indicator-item {
	width: 10px;
	height: 10px;
	margin: 5px;
	border: 1px solid #FFF;
}
.slider .indicators .indicator-item.active {
	background-color: #000;
}
.main-slider h3 {
	font-size: 50px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
}
.main-slider h5 {
	font-size: 30px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	margin-right: 35px;
}
.line {
	background-color: #fff;
	display: block;
	height: 3px;
	width: 200px;
}
.main-slider .fabivo-btn-2 {
	margin-top: 20px;
}
.slider .slides li .caption {
	right: -27% !important;
	left: auto !important;
}
.search-box-mobile {
	display: none;
}
/*********category*************/
.category {
	margin-top: 30px;
}
.pad-rg-5 {
	padding-right: 5px !important;
}
.category-bx {
	position: relative;
}
.category-bx h3 {
	transition: all 0.3s ease-out 0s;
	transform: translate3d(0px, 0px, 0px)
}
.category-bx-on {
	position: absolute;
	right: 0px;
	top: 12%;
	z-index: 9;
	text-align: center;
	width: 100%;
}
.category-bx:hover img {
	opacity: 0.7;
	transition: all 0.3s ease-out 0s;
	background-color: #000;
}
.category-bx:hover h3 {
	transform: translate3d(0px, -30px, 0px);
	transition: all 0.3s ease-out 0s;
}
.category-bx img {
	transition: all 0.3s ease-out 0s;
}
.category-bx-on h3 {
	color: #212121;
	font-family: "robotothin";
	font-size: 47px;
	margin-bottom: 0px;
	margin-left: 51px;
	text-align: left;
}
.category-bx-on h4 {
	color: #212121;
	font-family: "robotothin";
	font-size: 50px;
	margin-bottom: 6px;
	margin-left: 31px;
	margin-top: 0;
	text-align: left;
}
.category-bx-on h5 {
	color: #212121;
	font-family: "robotoregular";
	font-size: 54px;
	margin-bottom: 0;
	margin-left: 62px;
	text-align: left;
}
.category-bx-on p {
	font-size: 14px;
	color: #212121;
	font-family: 'robotolight';
	margin-left: 62px;
	text-align: left;
}
.category-bx-on .fabivo-btn-2 {
	font-size: 67px;
	margin-top: 10px;
	background-color: #00bff3;
	color: #FFF;
}
.category-bx-on .fabivo-btn-2:hover {
	background-color: #000;
}
.on-2 {
	top: 33%;
	right: inherit;
	width: 100%;
}
.on-2 h3 {
	color: #fff;
	font-family: "robotolight";
	font-size: 23px;
	margin-bottom: 0px;
	margin-left: 25px;
	text-align: left;
	text-transform: uppercase;
}
.on-2 h4 {
	color: #fff;
	font-family: "robotothin";
	font-size: 45px;
	margin-bottom: 6px;
	margin-left: 25px;
	margin-top: 0;
	text-align: left;
}
.on-3 h3 {
	color: #212121;
	font-family: "robotolight";
	font-size: 23px;
	margin-bottom: 0px;
	margin-left: 25px;
	text-align: left;
	text-transform: uppercase;
}
.on-3 h4 {
	color: #212121;
	font-family: "robotolight";
	font-size: 45px;
	margin-bottom: 6px;
	margin-left: 25px;
	margin-top: 0;
	text-align: left;
	text-transform: uppercase;
}
.on-4 h3 {
	color: #fff;
	font-family: "robotothin";
	font-size: 47px;
	margin-bottom: 0px;
	margin-left: 19px;
	text-align: left;
}
.on-4 h4 {
	color: #fff;
	font-family: "robotothin";
	font-size: 47px;
	margin-bottom: 6px;
	margin-left: 74px;
	margin-top: 0;
	text-align: left;
}
.on-4 h5 {
	color: #fff;
	font-family: "robotoregular";
	font-size: 44px;
	margin-bottom: 0;
	margin-left: 19px;
	text-align: left;
}
/*********category*************/
.pad-rg-8 {
	padding-right: 8px !important;
}
.pad-lf-8 {
	padding-left: 8px !important;
}
/*********sign-section*************/
.sign-contant h1 {
	font-size: 90px;
	font-family: 'Conv_VLADIMIR';
	color: #FFF;
	margin: 0px 0px 10px 0px;
}
.sign-contant h2 {
	font-size: 70px;
	font-weight: bold;
	color: #FFF;
	margin: 0px 0px 10px 0px;
}
.sign-contant h4 {
	font-size: 22px;
	color: #FFF;
	margin: 0px 0px 10px 0px;
}
.sign-section {
	background-attachment: fixed;
	background-image: url("../img/sign-up-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin-top: 15px;
}
.overlay {
	background-color: rgba(54, 56, 55, 0.6);
	padding: 100px 0;
}
.sign-bx .input-field {
	margin: 0 auto;
	width: 100%;
}
.sign-bx .input-field input {
	font-size: 16px;
	height: 47px;
	color: #c0a03c;
}
.sign-bx .input-field i {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 16px;
	color: #c0a03c;
	font-size: 16px;
}
.sign-bx {
	display: inline-block;
	width: 100%;
	position: relative;
}
.sign-bx form {
	display: inline-block;
	height: 47px;
	width: 94%;
}
.sign-bx .input-field a {
	position: absolute;
	right: -40px;
	top: 0px;
	padding: 12px 30px;
	font-size: 30px;
	font-weight: bold;
	border-radius: 0px;
	height: auto;
}
/*********category store banner************/
.store-bx-img {
	position: relative;
}
.store-bx {
	position: absolute;
	left: 5%;
	top: 5%;
}
.store-bx h4 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 0px;
}
.store-bx a {
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	height: 68px;
	display: block;
}
.store-bx .aap-store {
	background-image: url(../img/app-btn-big.png);
}
.store-bx .play-store {
	background-image: url(../img/app-btn-big.png);
	background-position: 0px -70px;
	margin-top: 5px;
}
/*********Footer************/
.footer {
	background-image: url(../img/footer-bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-top: 30px;
}
.footer-overlay {
	background-color: rgb(17, 17, 17);
	padding: 24px 0 0;
}
.sapreter {
	background-color: #fc8b1c;
	display: block;
	height: 2px;
	margin-top: 10px;
	width: 48px;
}
.footer-heading h4 {
	font-size: 16px;
	color: #FFF;
	margin-bottom: 15px;
}
.footer .footer-link {
	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-top: 20px;
}
.footer .footer-link li {
	color: #898989;
	list-style: outside none disc;
	margin-left: 13px;
	padding: 3px 0;
}
.footer .footer-link li a {
	color: #898989;
	font-size: 14px;
}
.footer .footer-link li a:hover {
	color: #FFF !important;
}
.social-box {
  display: inline-block;
  margin-top: 0;
}
.social-box ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.social-box ul li {
  float: left;
  margin-right: 10px;
}
.social-box ul li a {
  background-color: #898989;
  	 padding: 5px;
}
.social-box ul li i {
	font-size: 14px;
	 padding: 5px;
	color:#4A4A4A;
}
.news-bx {
	position: relative;
	margin-top: 4em;
}
.news-bx input {
	padding-left: 15px !important;
	background-color: #FFF;
	border-bottom: 0px;
}
.news-bx input::-webkit-input-placeholder {
color:#000;
}
.news-bx input::-moz-placeholder {
color:#000;
}
.news-bx input:-ms-input-placeholder {
color:#000;
}
.news-bx .fabivo-btn {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 14px;
	border-radius: 0px;
	padding: 4.3px 10px !important;
	height: auto;
}
.footer .store-bx {
	margin-top: 5em;
	position: inherit;
}
.footer .store-bx h4 {
	font-size: 20px;
	text-transform: uppercase;
	color: #FFF;
	margin-bottom: 20px;
}
.footer .store-bx a {
	float: left;
	background-image: url(../img/app-btn.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 136px;
	height: 40px;
	display: block;
}
.footer .store-bx .play-store {
	background-position: -140px 0px;
	margin-top: 0px;
	margin-left: 10px;
}
.footer-sapreter {
	height: 3px;
	width: 100%;
	display: block;
	background-color: #225b6b;
	margin-top: 15px;
}
.copyright {
	margin: 0px;
}
.copyright a {
	color: #888;
	font-size: 14px;
}
.copyright a:hover {
	color: #FFF !important;
	text-decoration: none;
}
.copyright a span {
	color: #9D812E;
}
.copyright ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: right;
}
.copyright ul li {
	float: left;
	padding-right: 10px;
}
.copyright ul li .card-n {
	width: 45px;
	height: 27px;
	background-image: url(../img/card.png);
	background-repeat: no-repeat;
	display: block
}
.copyright ul li .card-2 {
	background-position: -61px 0px;
}
.copyright ul li .card-3 {
	background-position: -113px 0px;
}
.copyright ul li .card-4 {
	background-position: -159px 0px;
	width: 52px;
}
.footer-mobile {
	display: none;
}
/*********login-bx************/
.login-bx h4 {
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 10px;
}
.login-bx .contant {
	margin: 30px 0px 20px 0px;
}
.login-bx .contant span {
	display: block;
}
.login-bx .contant span i {
	right: 0px;
	text-align: right;
}
.login-bx input {
	margin-left: 2.5em;
	position: relative;
	width: 94.2%;
}
.login-bx label {
	margin-left: 2.5em;
}
.login-bx .input-field i {
	font-size: 25px;
	padding: 12px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.login-bx input:focus:not([type]):not([readonly]) + label, input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
	color: #00bff3 !important;
}
.login-bx #remember-me label {
	margin-left: 0px !important;
}
.mr-lf {
	margin-left: -10px !important;
}
.login-bx img {
	background-color: #000;
	padding: 10px;
}
.login-bx i {
	color: #00bff3;
}
.login-bx [type="checkbox"]:checked + label::before {
	border-color: transparent #00bff3 #00bff3 transparent;
}
.login-bx p a {
	color: #9e9e9e;
}
.login-bx .login-btn {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 20px;
}
.login-bx .login-btn a:first-child {
	margin-right: 20px;
}
.login-bx input:focus {
	border-bottom: 1px solid #00bff3 !important;
	box-shadow: 0 1px 0 0 #00bff3 !important;
}
.modal {
	max-height: 100%;
	overflow-y: inherit !important;
	top: 4% !important;
}
/*********sign up************/
#modal2 .col.s6 input {
	width: 88% !important;
}
.allready {
	margin-left: 28px;
}
/************************product listing page******************
**************************************************************/

/************slider******************/

/************listing-breadcrumb******************/
.sort-by {
	line-height: 12px;
	margin-top: 22px;
}
.sort-by ul {
	padding: 0px;
	list-style: none;
}
.sort-by ul li {
	float: left;
	border-right: 1px solid #494949;
}
.sort-by ul li:first-child {
	border-right: 0px;
	margin-right: 5px;
}
.sort-by ul li a {
	color: #494949;
	padding: 0px 10px;
}
.sort-by ul li.active a {
	color: #3094EA;
}
.listing-breadcrumb .pagination li a {
	font-size: 14px;
}
.listing-breadcrumb .pagination li.active {
	background-color: inherit;
}
.listing-breadcrumb .pagination li.active a {
	color: #3094ea;
}
.listing-breadcrumb .pagination .disabled {
	background-color: #8d8d8d !important;
	width: 30px;
}
.listing-breadcrumb .pagination .disabled a {
	color: #FFF;
	padding-left: 0px;
}
.listing-breadcrumb {
	margin: 20px 0px;
}
/************product-category******************/
.product-category {
	background-color: #f0f0f0;
	padding: 20px 0px;
}
.product-category h5 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: lighter;
	margin: 0px;
}
.product-category-breadcrumb ul {
	margin: 0px;
}
.product-category-breadcrumb li {
	float: left;
}
.product-category-breadcrumb li a {
	color: #1d1c1c;
	padding: 0px 10px;
	font-size: 16px;
}
.product-category-breadcrumb li::after {
	content: "/";
}
.product-category-breadcrumb ul li:last-child::after {
	content: inherit;
}
.product-category-breadcrumb ul li:last-child a {
	cursor: inherit;
}
/************filters-product******************/
.filters-product {
	margin-top: 20px;
}
.filters-list .collapsible {
	box-shadow: inherit;
	border: 0px;
}
.filters-list .collapsible .collapsible-header {
	font-size: 17px;
	color: #616060;
	font-weight: lighter;
}
.filters-list .collapsible .collapsible-header {
	padding: 15px 10px
}
.filters-list .collapsible .collapsible-body ul {
	margin: 20px 0px;
}
.filters-list .collapsible .collapsible-body ul li {
	padding: 10px 10px 10px 20px;
}
.filters-list .collapsible .collapsible-body ul li a {
	color: #616060;
	font-size: 15px;
}
.cart-info {
	margin: 40px 0px;
}
.cart-info h5 {
	color: #1d1c1c;
	font-size: 18px;
	margin: 0px 0px 10px 0px;
	text-transform: uppercase;
}
.cart-info p {
	color: #9d9c9c;
}
.filters-list-2 .collapsible .collapsible-header {
	padding: 3px;
	color: #1d1c1c;
	border-bottom: 1px solid #ddd;
}
.filters-list-2 .collapsible .border {
	border-top: 1px solid #ddd;
}
.filters-list-2 .collapsible .collapsible-header i {
	float: right;
	font-weight: lighter;
	color: #898989;
}
.collapsible-header.active i {
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
	transition: all 0.3s ease-out 0s;
}
.collapsible-header i {
	transition: all 0.3s ease-out 0s;
}
.range {
	margin-top: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.range .output {
	font-size: 18px;
	color: #7f7f7f;
}
/************product-bx******************/
.product-bx {
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.product-bx .product-img {
	position: relative;
	margin-bottom: 20px;
}
.product-bx .product-img a img {
	display: block;
	background-color: #f0f0f0;
}
.sell-bx {
	background-color: #fe562b;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	padding: 16px 0px;
	position: absolute;
	left: 5%;
	top: 5%;
}
.product-bx .product-details h5 {
	font-size: 15px;
	color: #3094ea;
	text-transform: uppercase;
	margin: 10px 0px 0px 0px;
}
.product-bx .product-details h6 {
	color: #2c2c2c;
	font-size: 12px;
	text-transform: uppercase;
	margin: 10px 0px 0px 0px;
}
.product-bx .product-details .fabivo-btn-3 {
	margin-top: 15px;
}
.product-bx .product-details .prize {
	margin-top: 10px;
}
.product-bx .product-details .prize del {
	font-size: 14px;
	color: #2c2c2c;
}
.product-bx .product-details .prize span {
	color: #ff4918;
	margin-left: 10px;
}
/************product-bx-add******************/
.product-bx-add {
	position: relative;
	margin-top: 30px;
}
.product-bx-add-contant {
	position: absolute;
	right: 5%;
	top: 4%;
	text-align: right;
}
.product-bx-add-contant h5 {
	font-size: 22px;
	color: #000;
	font-family: 'Conv_BEBAS___';
}
.product-bx-add-contant p {
	font-size: 12px;
	color: #3d3a3a;
}
.product-bx-add-contant a {
	font-size: 16px;
	font-family: 'Conv_BEBAS___';
	color: #3094ea;
}
/************************product-detail page******************
**************************************************************/

/*********product-detail*************/
.product-detail {
	margin-top: 50px;
}
.product-detail .product-info h5 {
	font-size: 25px;
	text-transform: capitalize;
	margin: 0px 0px 10px 0px;
	font-family: 'Conv_Raleway-Regular';
}
.product-detail .product-info h6 {
	color: #606060;
	font-size: 18px;
	margin: 0px;
	font-family: 'Conv_Raleway-Light';
}
.product-detail .product-info .prize {
	font-size: 30px;
	color: #211f1f;
	margin: 30px 0px 30px 0px;
	font-family: 'Conv_Raleway-Light';
}
.product-detail .product-info .product-size h6 {
	font-size: 16px;
	color: #211f1f;
	font-family: 'Conv_Raleway-SemiBold';
}
.product-detail .product-info .product-size a {
	color: #4db9e0;
	font-family: 'Conv_Raleway-SemiBold';
}
.product-detail .product-info .product-size a span {
	color: #606060;
}
.product-detail .product-info ul {
	margin-top: 45px;
}
.product-detail .product-info li {
	float: left;
	margin-right: 10px;
}
.product-detail .product-info li a {
	width: 50px;
	height: 50px;
	border: 1px solid #DDD;
	border-radius: 100%;
	padding: 5px 0px;
	color: #606060 !important;
	background-color: inherit;
	box-shadow: inherit;
	font-size: 18px;
}
.product-detail .product-info li.active a {
	background-color: #000;
	color: #fff !important;
}
.product-detail .description {
	margin-top: 70px;
}
.product-detail .description h5 {
	font-size: 20px;
	color: #0b0b0b;
	font-family: 'Conv_Raleway-SemiBold';
}
.product-detail .description input {
	height: 43px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding-left: 15px;
	width: auto;
	float: left
}
.product-detail .description a {
	float: left;
	margin-left: 20px;
	color: #00aeef;
	display: block;
	line-height: 43px;
	font-family: 'Conv_Raleway-SemiBold';
}
.product-detail .description input:focus {
	border: 1px solid #ddd
}
.product-detail .description p {
	font-size: 16px;
	color: #7a7a7a;
	font-family: 'Conv_Raleway-SemiBold';
}
.product-detail .cart-wish-btn {
	margin-top: 60px;
}
.product-detail .cart-wish-btn .btn {
	margin-right: 20px;
	text-transform: uppercase;
	border-radius: 0px;
}
/*********product-detail*************/
.review-description .tab a {
	font-size: 16px;
	color: #211f1f;
	transition: border-color 0.90s ease 0s;
}
.review-description .tabs .tab a:hover {
	color: #211f1f;
}
.review-description #description, #review, #return {
	margin-top: 20px;
}
.review-description #description p {
	font-size: 16px;
	color: #211f1f;
	margin-top: 0px;
	font-family: 'Conv_Raleway-Regular';
}
.review-description .tabs .indicator {
	display: none;
}
.review-description .tab a {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	font-family: 'Conv_Raleway-Regular';
}
.review-description .tab a.active {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	will-change: left, right;
	transition: border-color 0.90s ease 0s;
	color: #211f1f;
	background-image: url(../img/bg-arrow.png);
	background-position: center 46px;
	background-repeat: no-repeat;
}
.review {
	width: 80%;
	margin-bottom: 20px;
	padding: 10px;
	transition: all 0.3s ease-out 0s;
}
.review:hover {
	transition: all 0.3s ease-out 0s;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.review .user-img img {
	border-radius: 100%;
	width: 80px;
	height: 80px;
}
.review .user-contant .reating span {
	content: "\f005";
	margin-right: 5px;
	color: #FED638;
	font-size: 15px;
}
.review .user-contant p {
	margin: 5px 0px;
	color: #7a7a7a;
	font-size: 14px;
	font-family: 'Conv_Raleway-Regular';
}
.review-description #return p {
	font-size: 16px;
	color: #211f1f;
	margin-top: 0px;
	font-family: 'Conv_Raleway-Regular';
}
/*********product-slider*************/
.product-slider {
	margin-top: 50px;
}
.product-slider #owl-demo .item {
	margin: 0px 20px;
	text-align: center;
	transition: all 0.3s ease-out 0s;
}
.product-slider #owl-demo .item a h6 {
	font-size: 18px;
	color: #4db9e0;
	display: block;
	padding: 20px 8px;
	margin-top: 0px;
	font-family: 'Conv_Raleway-Regular';
}
.product-slider #owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}
.product-slider .product-slider-heading {
	display: block;
}
.product-slider .product-slider-heading h5 {
	font-size: 25px;
	color: #211f1f;
	margin: 0px;
	margin-bottom: 10px;
	font-family: 'Conv_Raleway-SemiBold';
}
.product-slider-heading span {
	height: 2px;
	background-color: #e5e5e5;
	display: inline-block;
	float: left;
	margin: 10px 0px;
	width: 100%;
}
.product-slider .owl-pagination {
	display: none;
}
.product-slider .customNavigation a {
	background-image: url(../img/product-arrow.png);
	background-repeat: no-repeat;
	width: 35px;
	height: 33px;
	display: inline-block;
	margin: 0px 5px;
	background-size: cover;
}
.product-slider .customNavigation {
	margin: 10px 0px;
	text-align: right;
}
.product-slider .customNavigation .next {
	background-position: -33px 0px;
}
.product-slider #owl-demo .item:hover {
	transition: all 0.3s ease-out 0s;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
/************************add to cart page******************
**************************************************************/
.cart-section {
	margin-top: 30px;
}
.cart-section .cart-product-img {
	margin-bottom: -5px;
	position: relative;
}
.cart-section .cart-product-img .cart-remove {
	position: absolute;
	left: 4%;
	top: 4%;
}
.cart-section .cart-product-img .cart-remove a {
	margin: 0px 5px;
}
.cart-section .cart-product-img .cart-remove a i {
	font-size: 20px;
	color: #01bff3;
}
.cart-section .cart-product-info {
	background-color: #f4f4f4;
}
.cart-section .cart-product-info .cart-details {
	padding: 20px 30px;
}
.cart-section .cart-product-info .cart-details h5 {
	font-size: 25px;
	color: #606060;
	font-family: 'Conv_Raleway-Light';
}
.cart-section .cart-product-info .cart-details input {
	border-bottom: 0px solid;
	color: #0b0b0b;
	font-size: 24px;
	font-family: 'Conv_Raleway-SemiBold';
}
.cart-section .cart-product-info .cart-details .input-field {
	margin: -3px 0px 0px 15px;
	width: 80px;
	height: 50px;
	color: #0b0b0b;
}
.cart-section .cart-product-info .cart-details .heading {
	font-size: 24px;
	font-family: 'Conv_Raleway-SemiBold';
}
.cart-section .cart-product-info .cart-details .select-wrapper span.caret {
	font-size: 15px;
}
.cart-section .cart-product-info .cart-details .select-dropdown.active {
	left: 0px !important;
	top: 0px !important;
}
.cart-section .cart-product-info .cart-details .dropdown-content li > a, .dropdown-content li > span {
	color: #0b0b0b;
}
.cart-section .cart-product-info .cart-details .size-qty {
	margin-top: 20px;
}
.cart-section .cart-product-info .cart-details p {
	font-size: 18px;
	color: #211f1f;
	font-family: 'Conv_Raleway-Regular';
}
.cart-section .cart-product-info .cart-details h6 {
	font-size: 25px;
	color: #000;
	font-family: 'Conv_Raleway-SemiBold';
	margin-top: 10%;
}
.cart-section .cart-product-prize {
	background-color: #f4f4f4;
	padding: 20px;
}
.cart-section .cart-product-prize .code input {
	margin: 0px;
	border: 2px solid #797979;
	padding: 0px 15px;
}
.cart-section .cart-product-prize .code {
	margin-bottom: 2%;
}
.cart-section .cart-product-prize .code .input-field {
	margin-top: 0px;
}
.cart-section .cart-product-prize .code input:focus {
	border: 2px solid #000;
}
.cart-section .cart-product-prize .code .btn {
	height: 48px;
	background-color: inherit;
	font-size: 16px;
	line-height: 48px;
	border: 2px solid #797979;
}
.cart-section .cart-product-prize .code .btn:hover {
	background-color: #000;
	border: 2px solid #000;
}
.cart-section .cart-product-prize .pay-details h5 {
	font-size: 20px;
	color: #000;
	font-family: 'Conv_Raleway-SemiBold';
	margin-bottom: 20px;
}
.cart-section .cart-product-prize .pay-details span {
	font-size: 18px;
	font-family: 'Conv_Raleway-Regular';
	margin-bottom: 5px;
	font-weight: bold
}
.cart-section .cart-product-prize .pay-details p {
	font-size: 15px;
	font-family: 'Conv_Raleway-Regular';
	color: #211f1f;
	margin: 0px 0px;
}
.cart-section .cart-product-prize .pay-details {
	padding: 10px 0px 20px 0px;
}
.cart-section .cart-product-prize .border {
	height: 1px;
	background-color: #797979;
	display: block;
	margin: 0px -20px;
}
.cart-section .cart-product-prize .net-details h5 {
	font-size: 20px;
	color: #000;
	font-family: 'Conv_Raleway-SemiBold';
	margin: 0px;
}
.cart-section .cart-product-prize .net-details {
	padding-top: 20px;
}
.cart-section .cart-product-prize .net-details span {
	font-size: 20px;
	font-family: 'Conv_Raleway-Regular';
	font-weight: bold;
}
.cart-section .cart-itam {
	background-color: #f4f4f4;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #000;
	font-size: 18px;
	font-family: 'Conv_Raleway-SemiBold';
}
.cart-section .cart-itam i {
	font-size: 30px;
	color: #00bff3;
	margin-right: 20px;
}
.cart-section .pay-option {
	margin-top: 20px;
}
.cart-section .pay-option .btn {
	display: block;
	height: 75px;
	line-height: 65px;
	font-size: 25px;
}
.cart-section ul {
	list-style: none;
	padding: 0px;
	margin-top: 20px;
}
.cart-section ul li {
	float: left;
	padding-right: 10px;
}
.cart-section ul li .card-n {
	width: 45px;
	height: 27px;
	background-image: url(../img/card.png);
	background-repeat: no-repeat;
	display: block
}
.cart-section .pay-option ul li .card-2 {
	background-position: -61px 0px;
}
.cart-section .pay-option ul li .card-3 {
	background-position: -113px 0px;
}
.cart-section .pay-option ul li .card-4 {
	background-position: -159px 0px;
	width: 52px;
}
.cart-section .cart-product-prize .code input::-webkit-input-placeholder {
color:#000;
}
.cart-section .cart-product-prize .code input::-moz-placeholder {
color:#000;
}
.cart-section .cart-product-prize .code input:-ms-input-placeholder {
color:#000;
}
/************************chackout page******************
**************************************************************/
.chackout-header {
	background-color: #444546;
	padding: 10px 0px;
}
.chackout-form {
	margin-top: 30px;
}
.chackout-form .login-details {
	border: 1px solid #abacac;
	margin-top: 20px;
}
.chackout-form .login-details:first-child {
	margin-top: 0px;
}
.chackout-form .heading {
	background-color: #dcdfdf;
	border-bottom: 1px solid #abacac;
	padding: 10px;
	text-align: center;
}
.chackout-form .heading h5 {
	font-size: 18px;
	color: #000;
	margin: 0px;
	line-height: 28px;
}
.chackout-form .heading span {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	background-color: #444546;
	font-size: 20px;
	color: #fff;
	margin-right: 10px;
	display: inline-block;
	text-align: center;
}
.chackout-form .login-details .mail-id {
	padding: 15px;
}
.chackout-form .login-details .mail-id p {
	font-size: 18px;
	color: #747676;
	margin: 0px;
	font-family: 'Conv_Raleway-SemiBold';
}
.chackout-form .login-details .mail-id a {
	font-size: 16px;
	color: #000;
	font-family: 'Conv_Raleway-SemiBold';
}
.chackout-form .login-details .mail-id span {
	font-size: 21px;
	color: #000;
	font-family: 'Conv_Raleway-SemiBold';
	margin-top: 5px;
}
.fill-form {
	padding: 0px 0px 10px 0px;
	border: 1px solid #abacac;
	margin-bottom: 30px;
}
.fill-form .heading {
	text-align: left;
}
.fill-form .fill-deatils {
	padding: 20px;
}
.fill-form .fill-deatils input {
	border: 1px solid #abacac;
	padding: 0px 3%;
	width: 94%;
	color: #000;
}
.fill-form .fill-deatils input:focus {
	border: 1px solid #00bff3;
	box-shadow: 0 1px 0 0 #00bff3;
}
.fill-form .fill-deatils input::-webkit-input-placeholder {
color:#000;
}
.fill-form .fill-deatils input::-moz-placeholder {
color:#000;
}
.fill-form .fill-deatils input:-ms-input-placeholder {
color:#000;
}
.fill-form .fill-deatils select {
	border: 1px solid #abacac;
	color: #767676;
	height: 3rem;
}
.fill-form .fill-deatils .btn {
	font-size: 20px;
	color: #fff;
	height: 64px;
	border-radius: 1px;
	line-height: 64px;
	padding: 0 2rem;
	width: 30%;
	margin: 0px 20px;
}
.fill-form .fill-deatils .btn-box {
	margin-top: 2rem;
}
.checkout-footer {
	background-color: #313131;
	padding: 20px 0px;
}
.checkout-footer .copyright {
	margin-top: 0px;
}
/************************FAQ******************
**************************************************************/
.faq-section {
	margin-top: 3%;
}
.faq-section .faq-category .tab {
	text-align: left;
	border-bottom: 1px solid #999;
	height: auto;
}
.faq-section .faq-category .tab a {
	padding: 0px 10px;
	color: #333;
	font-size: 16px;
	text-transform: capitalize;
	transition: all 0.3s ease-out 0s;
}
.faq-section .faq-category .tab span {
	float: left;
}
.faq-section .faq-category .tab a.active {
	background-color: #00bff3;
	color: #FFF;
	transition: all 0.3s ease-out 0s;
}
.faq-section .faq-category .tab a i {
	float: right;
	line-height: 48px;
}
.faq-section .faq-category .tab:first-child {
	border-top: 1px solid #777;
}
.faq-section .faq-category .indicator {
	display: none;
}
.faq-section .faq-category .tabs {
	height: auto;
	overflow-x: inherit;
	overflow-y: inherit;
}
.faq-section .collapsible-header {
	color: #333;
	line-height: 1.5;
	padding: 1rem;
}
.faq-section .collapsible-body {
	color: #333;
}
.faq-section .collapsible-header i {
	float: right !important;
	margin-right: 0px !important;
	color: #00bff3;
	font-size: 18px;
	margin: -0.7rem 0rem;
}
.faq-section .collapsible {
	margin: 0px;
}
.faq-section .collapsible-header span {
	font-size: 15px;
	background-color: #00bff3;
	color: #FFF;
	border-radius: 100%;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	margin-right: 10px;
}
/************************contact us******************
**************************************************************/
.contact-us-section {
	margin-top: 3%;
}
.contact-us-section .contact-info {
	padding: 30px 0px;
	border: 1px dashed #777;
}
.contact-us-section .contact-info i {
	font-size: 70px;
	margin-bottom: 20px;
	color: #00bff3;
}
.contact-us-section .contact-info h5 {
	font-size: 20px;
	color: #444546;
	text-transform: uppercase;
	margin: 5px 0px;
	font-weight: bold;
}
.contact-us-section .contact-info p {
	font-size: 14px;
	color: #777;
	margin: 0px;
}
.contact-us-section .map {
	margin: 30px 0px;
	height: 300px;
}
.sepretar {
	background-color: #00bff3;
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 350px;
}
.sepretar-down {
	height: 1px;
	margin-top: 1px;
	width: 280px;
}
.contact-form h4 {
	font-size: 20px;
	color: #444546;
	margin: 0px 0px 10px 0px;
	text-transform: uppercase;
}
.contact-form .heading {
	margin: 20px 0px;
}
.contact-us-section .contact-form input:focus {
	border-bottom: 1px solid #00bff3 !important;
	box-shadow: 0 1px 0 0 #00bff3 !important;
}
.contact-us-section .contact-form textarea:focus {
	border-bottom: 1px solid #00bff3 !important;
	box-shadow: 0 1px 0 0 #00bff3 !important;
}
.contact-form .fabivo-btn-2 {
	margin-top: 30px;
	background-color: #00bff3;
	color: #FFF;
}
/************************my account******************/
.myaccount .tabs a {
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Conv_Raleway-Regular';
}
.myaccount .tabs .tab a:hover, .tabs .tab a.active {
	color: #000;
}
.myaccount .tabs .indicator {
	background-color: #00bff3;
}
.myaccount .tabsin {
	margin-top: 30px;
	min-height: 200px;
}
.myaccount input:focus {
	border-bottom: 1px solid #00bff3 !important;
	box-shadow: 0 1px 0 0 #00bff3;
}
[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
	background-color: #00bff3;
}
[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
	border: 2px solid #00bff3;
}
.gander {
	color: #9e9e9e;
	margin-top: 1rem;
	margin-bottom: 5px;
	font-size: 1rem;
}
.myaccount .button {
	margin-top: 3rem;
}
.myaccount .addrase-btn {
	border: 1px solid #00bff3;
	padding: 15px 0px;
	text-align: center;
	font-size: 18px;
	color: #00bff3;
	font-family: 'Conv_Raleway-SemiBold';
	display: block;
	cursor: pointer;
}
.myaccount #pro1 .input-field {
	margin-top: 0px;
}
.mar-top {
	margin-top: 1rem;
}
.myaccount .select-wrapper input.select-dropdown {
	color: #9e9e9e;
}
.myaccount .pro2-form {
	display: none;
}
.myaccount .pro3details {
	border: 1px solid #cccccc;
	margin-bottom: 20px;
}
.pro3details .track-bx {
	padding: 10px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #CCC;
}
.pro3details .track-bx .track-id-bx {
	background-color: #00bff3;
	padding: 10px;
	font-size: 15px;
	color: #FFF;
	display: inline-block;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.pro3details .pro3-product-details-bx {
	padding: 10px 20px;
}
.pro3details p {
	margin: 2px 0px 0px 0px;
	color: #444546;
	font-size: 14px;
}
.pro3details p b {
	margin-right: 7px;
}
.total-bx {
	margin: 0px 20px;
	padding: 10px 5px;
	border-top: 1px solid #cccccc;
}
.wallet-bx .money-info {
	margin-bottom: 15px;
	display: block;
}
.wallet-bx .money-info span {
	color: #444546;
	font-family: 'Conv_Raleway-SemiBold';
}
.wallet-bx .money-info a {
	color: #00bff3;
	font-family: 'Conv_Raleway-SemiBold';
}
.wallet-bx .my-money {
	border: 1px solid #ccc;
	padding: 20px 10px;
	text-align: center;
	font-size: 15px;
	font-family: 'Conv_Raleway-Regular';
}
.wallet-bx .my-money p {
	margin: 0px;
	color: #00bff3;
}
.wallet-bx .s7 .my-money {
	border-left: 0px solid;
}
.myaccount #pro4 .input-field {
	margin-top: 0px;
}
.myaccount #pro4 .cupan-code-bx button {
	font-size: 14px;
	padding: 0px 25px;
	height: 45px;
}
.myaccount #pro4 .gift-btn {
	display: block;
	border: 1px solid #00bff3;
	font-size: 14px;
	padding: 10px;
	text-align: center;
	color: #00bff3;
}
#pro5 a {
	color: #00bff3;
	margin: 29px 0px;
}
