<div id="pro4" class="col s12">
    <div class="row">
        <div class="col s12">
            <div class="pro3details">
                <div class="track-bx">
                    <div class="row">
                        <div class="col s6">
                            <a  [routerLink]="['/myaccount','order']" class="track-id-bx tp-btn">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                Back
                            </a>
                                 <a href="#cancle_order" *ngIf="orderDetail.order_status=='success'"   class="track-id-bx tp-btn">
                                Cancel Order
                            </a>
                            <a *ngIf="orderDetail.order_status=='inprocess' || orderDetail.order_status=='inprocess'"  href="javascript:void(0)"    class="track-id-bx tooltipped tp-btn" data-position="bottom" data-delay="50" data-tooltip="You will track the package,once the shipment is created">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Track
                            </a>
                            <a *ngIf="(orderDetail.order_status=='shipped' || orderDetail.order_status=='delivered') && orderDetail.shipped_by=='delhivery'  "  href="{{orderDetail.delivery.link}}"   target='_blank' class="track-id-bx tp-btn" >
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Track
                            </a>
                        </div>

                        <div class="col s6 right-align">
                            <a href="javascript:void();" class="track-id-bx tp-btn-full">
                                {{orderDetail.order_id}}
                            </a>

                       
                        </div>
                    </div>
                </div>
                <div class="row pro3-product-details-bx"  >
                    <div class="col m3 s12">
                        <div class="row">

                            <div class="panel panel-box address-box simple-hover-box highlight-box makeequal" >
                                <div class="panel-body track-box "> 
                                    <h3>{{orderDetail.first_name | capitalize}} {{orderDetail.last_name | capitalize}}</h3>
                                    <div class="text-grayed-12"> 
                                        <br>{{orderDetail.address_1}}
                                        <br>{{orderDetail.address_2}} 
                                        <br>{{orderDetail.city}} , {{orderDetail.pin_code}} 
                                        <br>{{orderDetail.state}} 
                                        <br> 
                                        <div>Mobile No. {{orderDetail.mobile}} </div> 
                                        <br> 
                                    </div> 
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="col m9 s12">



                       

                        <div class="panel panel-box  simple-hover-box highlight-box makeequal" *ngIf="orderDetail.shipped_by=='delhivery' && orderDetail.delivery.scan.length!=0"  >
                             <div class="panel-body track-box"  >   <div class="row">  <div class="col s6 left-align"><h3><span class="left-align">Way bill Number:{{orderDetail.delivery.waybill}} </span></h3> </div> <div class="col s6 right-align "><h3><span class="right-align">Status:{{orderDetail.delivery.status}}</span></h3></div></div>
                                <div *ngIf="orderDetail.delivery.scan.length!=0">
                                    <table class=" bordered striped highlight responsive-table">
                                        <thead>
                                            <tr>
                                                <th >Status Type</th>
                                                <th >Status</th>
                                                <th >Status Date</th>
                                                <th >Remarks</th>
                                                <th >Location</th>


                                            </tr>


                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let scans of orderDetail.delivery.scan">
                                                <td>{{scans.ScanType}}</td>
                                                <td>{{scans.Scan}}</td>
                                                <td>{{scans.StatusDateTime}}</td>
                                                <td>{{scans.Instructions}}</td>
                                                <td>{{scans.ScannedLocation}}</td>

                                            </tr>
                                            <tr *ngIf="orderDetail.delivery.scan.length==0">
                                                <td  colspan="6"><div class="center-align"> Data Not Found </div></td>

                                            </tr>

                                        </tbody>

                                    </table>

                                </div></div>
                                       
                        </div>
                        <div class="panel panel-box  simple-hover-box highlight-box makeequal" *ngIf="(orderDetail.order_status=='shipped' || orderDetail.order_status=='delivered') && orderDetail.shipped_by=='postal'" >
                            
                        <div class="panel-body track-box"  >   <div class="row">  <div class="col s6 left-align"><h3><span class="left-align">AWB Number:{{orderDetail.awb_number}} </span></h3> </div> <div class="col s6 right-align "><h3><span class="right-align">Shipped Via:{{orderDetail.post_by | capitalize}}</span></h3></div></div>

                        </div>



                        </div>

                    </div>
                </div>
                   <div class="row " >
                 <div class="col s4">
                <div class="row pro3-product-details-bx" *ngFor="let products of orderDetail.order_detail" >
                    
                            <div class="col s3">
                                <img class="responsive-img" src="{{products.product.image}}">        
                            </div>
                            <div class="col s9">  
                                <p><a [routerLink]="['/product',products.product.slug]">{{products.product.title}}</a></p>
                                <p><b>Size:</b>{{products.product_size}}</p>
                                <p><b>Quantity:</b>{{products.quantity}}</p> 
                                 <p><b>price:</b><span [innerHTML]="products.price"></span></p> 

                          
                    </div>
                   
                </div>
                  </div>
                <div class="col s8">
                     <ul class="timeline" id="timeline">
                            <li class="li complete first_complete">
                                <div class="timestamp">

                                    <span class="date">{{status['ordered']}}<span>
                                        </span></span></div>
                                <div class="status">
                                    <h4> Ordered </h4>
                                </div>
                            </li>




                            <li class="li complete last_complete"  *ngIf="orderDetail.order_status=='reject'">
                                <div class="timestamp">

                                    <span class="date">{{(status['reject']!='')?status['reject']:''}}<span>
                                        </span></span></div>
                                <div class="status failed">
                                    <h4 class="failed"> Rejected </h4>
                                </div>
                            </li>
                            <li class="li complete last_complete"   *ngIf="orderDetail.order_status=='cancel'">
                                <div class="timestamp">

                                    <span class="date">{{(status['cancel']!='')?status['cancel']:''}}<span>
                                        </span></span></div>
                                <div class="status failed">
                                    <h4 class="failed"> Cancelled </h4>
                                </div>
                            </li>
                            <li class="li complete last_complete"  *ngIf="orderDetail.order_status=='failed'">
                                <div class="timestamp">

                                    <span class="date">{{(status['failed']!='')?status['failed']:''}}<span>
                                        </span></span></div>
                                <div class="status">
                                    <h4 class="failed"> Failed </h4>
                                </div>
                            </li>
                            <li class="li " [ngClass]="{complete:status['inprocess']!= ''}" *ngIf="orderDetail.order_status!='failed' && orderDetail.order_status!='reject' && orderDetail.order_status!='cancel'">
                                <div class="timestamp">

                                    <span class="date">{{(status['inprocess']!='')?status['inprocess']:''}}<span>
                                        </span></span></div>
                                <div class="status">
                                    <h4> In Process </h4>
                                </div>
                            </li>
                            <li class="li " [ngClass]="{complete:status['shipped']!= ''}" *ngIf="orderDetail.order_status!='failed' && orderDetail.order_status!='reject' && orderDetail.order_status!='cancel'">
                                <div class="timestamp">

                                    <span class="date">{{(status['shipped']!='')?status['shipped']:''}}<span>
                                        </span></span></div>
                                <div class="status">
                                    <h4> Shipped </h4>
                                </div>
                            </li>
                            <li class="li last_complete" [ngClass]="{complete:status['delivered']!= ''}" *ngIf="orderDetail.order_status!='failed' && orderDetail.order_status!='reject' && orderDetail.order_status!='cancel'">
                                <div class="timestamp">

                                    <span class="date">{{(status['delivered']!='')?status['delivered']:''}}<span>
                                        </span></span></div>
                                <div class="status">
                                    <h4> Delivered </h4>
                                </div>
                            </li>
                        </ul>


                </div>
                </div>
                <div class="total-bx">
                    <div class="row">
                        <div class="col s3">
                            <p><b>Order Date:</b>{{orderDetail.created_at}}</p>
                            <div *ngIf="orderDetail.order_status!='failed' &&  orderDetail.order_status!='reject' &&  orderDetail.order_status!='cancel'">
                                <p *ngIf="orderDetail.delivery_date"><b>Delivery  Date:</b>{{orderDetail.delivery_date}}</p>
                                <p *ngIf="!orderDetail.delivery_date"><b>Expected Delivery Date:</b>{{orderDetail.expected_delivery_date}}</p>
                            </div>
                            <p *ngIf="orderDetail.order_status=='pending'">Your order is  pending</p>
                            <p *ngIf="orderDetail.order_status=='failed'" class='failed'>Your order is  failed</p>
                            <p *ngIf="orderDetail.order_status=='inprocess'" class='success'>Your order is  in process</p>
                            <p *ngIf="orderDetail.order_status=='reject'" class='failed'>Your order is rejected</p>
                             <p *ngIf="orderDetail.order_status=='reject' || orderDetail.order_status=='failed'" class=''>Reason :- {{orderDetail.reject_reason}}</p>
                            <p *ngIf="orderDetail.order_status=='shipped'" class='success'>Your order is shipped</p>
                            <p *ngIf="orderDetail.order_status=='cancel'" class='failed'>Your order is Cancelled</p>
                            <p *ngIf="orderDetail.order_status=='cancel'" class=''>Reason :- {{orderDetail.cancel_reason}}</p>
                           
                            <p *ngIf="orderDetail.order_status=='delivered'" class='success'>Your order is delivered</p>
                            <p *ngIf="orderDetail.order_status=='success'" class='success'>Your order is successfully placed.</p>

                        </div>
                        <div class="col s6" >
                            <div *ngIf="orderDetail.order_status!='failed' &&  orderDetail.order_status!='reject' &&  orderDetail.order_status!='cancel'">



                                <p *ngIf="orderDetail.is_cash_back && orderDetail.is_cash_back_transfer==0" class='success'>Cash back of <span [innerHTML]="orderDetail.cash_back_amount"></span> for Promo Code {{orderDetail.coupon_code|ucupper}} has been successfully added to your Fabivo Wallet on after shipped successfully. Happy Shopping!</p>


                                <p *ngIf="orderDetail.is_cash_back && orderDetail.is_cash_back_transfer==1" class='success'>Cash back of <span [innerHTML]="orderDetail.cash_back_amount"></span> for Promo Code {{orderDetail.coupon_code|ucupper}} has been successfully added to your Fabivo Wallet</p>
                            </div>
                        </div>
                        <div class="col s3 left-align">
                            <p><b> Sub Total:</b><span [innerHTML]="orderDetail.total_price" ></span></p>
                            <p *ngIf="orderDetail.enable_shipping_charge"><b>Shipping:</b><span [innerHTML]="orderDetail.shipping_charge" ></span></p>
                            <p *ngIf="orderDetail.enable_tax"><b>Tax:</b><span [innerHTML]="orderDetail.total_tax" ></span></p>
                            <p *ngIf="orderDetail.is_discount"><b>Discount</b><span [innerHTML]="orderDetail.discount" ></span></p>
                            <p *ngIf="orderDetail.is_cod"><b>Cod Money</b><span [innerHTML]="orderDetail.cod_money" ></span></p>
                            <p><b>Total:</b><span [innerHTML]="orderDetail.payble_amount" ></span></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="cancle_order" class="modal">
    <form class=""  id="cancelForm" (ngSubmit)="cancelForm.form.valid && cancelOrder()" #cancelForm="ngForm" novalidate>
    <div class="modal-content">
        <div class="row">
            <div class="col s12 " >
                  <div class="row">
                    <div class="input-field col s12">
                        <textarea id="cancel_reason" name="cancel_reason" [(ngModel)]="cancelmodel.cancel_reason" #cancel_reason="ngModel" required class="materialize-textarea"></textarea>
                       <div *ngIf="cancelForm.submitted && !cancel_reason.valid" class="help-block err-msg">The Reason field is required.</div>
                        
                        <label for="cancel_reason">Reason</label>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="modal-footer">


        <button class="btn waves-effect fabivo-btn">Submit</button>
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect fabivo-btn ">Close</a>
    </div>
                      </form>

</div>