<section class="main-slider">
  <div class="slider">
    <ul class="slides">
      <li *ngFor="let slider of sliders">
        <img class="img-full" [src]="slider['image']"> <!-- random image -->
        <div class="caption left-align">
          <h3>{{slider['title']}}</h3>
          <span class="line"></span>
          <h5 class="light grey-text text-lighten-3">{{slider['description']}}</h5>
          <a class="waves-effect fabivo-btn-2 btn" [routerLink]="['/']">Shop now</a>
        </div>
      </li>
<!--      <li>
        <img class="img-full" src="public/img/slide-2.png">  random image 
        <div class="caption left-align">
          <h3>CRAZY STYLE</h3>
          <span class="line"></span>
          <h5 class="light grey-text text-lighten-3">The best new designs! </h5>
          <a class="waves-effect fabivo-btn-2 btn">Shop now</a>
        </div>
      </li>
      <li>
        <img class="img-full" src="public/img/slide-3.png">  random image 
        <div class="caption left-align">
          <h3>CRAZY STYLE</h3>
          <span class="line"></span>
          <h5 class="light grey-text text-lighten-3">The best new designs! </h5>
          <a class="waves-effect fabivo-btn-2 btn">Shop now</a>
        </div>
      </li>-->
    </ul>
  </div>
      
        
     </section>
     <section class="category">
               <div class="container">
                    <div class="row">
                          <div class="col s12 m7 pad-rg-5">
                                <div class="category-bx">
                                      <a class="" href="#">
                                      <img class="img-full" src="public/img/women.png"/>
                                      </a>
                                      <div class="category-bx-on">
                                       <h3>New Arrival</h3>
                                       <h4> WOMENS</h4>
                                        <a class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                                 </div>
                                </div>
                                <div class="category-bx">
                                      <a class="" href="#">
                                      <img class="img-full" src="public/img/trending.png"/> 
                                      </a>
                                      <div class="category-bx-on on-2">
                                       <h3>New Arrival</h3>
                                       <h4> WOMENS</h4>
                                        <a class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                                 </div>
                                </div> 
                          </div>
                          <div class="col s12 m5">
                                <div class="category-bx">
                                      <a class="" href="#">
                                      <img class="img-full" src="public/img/men.png"/>
                                      </a>
                                      <div class="category-bx-on on-3">
                                       <h3>New Arrival</h3>
                                       <h4>MENS</h4>
                                        <a class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                                 </div>
                                </div>
                                <div class="category-bx">
                                      <a class="" href="#">
                                      <img class="img-full" src="public/img/arrival.png"/>
                                      </a>
                                      <div class="category-bx-on">
                                       <h3>New Arrival</h3>
                                       <h4>Accessories</h4>
                                        <a class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                                 </div>
                                </div>
                          </div>
                    </div>
               </div>
     </section>
     <section class="advertisement">
               <div class="container">
                     <div class="row">
                           <div class="col m12 s12">
                                <div class="advertisement-bx">
                                     <img class="responsive-img" src="public/img/banner.png"/>
                                </div>
                           </div>
                     </div>
               </div>
     </section>
     <section class="category">
               <div class="container">
                     <div class="row">
                            <div class="col m6 s12 pad-rg-8">
                                 <div class="category-bx">
                                      <a class="" href="#">
                                      <img class="img-full" src="public/img/mobile-add.png"/>
                                      </a>  
                                      <div class="category-bx-on on-4">
                                        <a class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                                        <h3>Mobile Cover</h3>
                                 </div>
                                 </div>
                                 
                            </div>
                            <div class="col m6 s12 pad-lf-8">
                                  <div class="category-bx">
                                      <a class="" href="#">
                                      <img class="img-full" src="public/img/add-2.png"/>
                                      </a>
                                      <div class="category-bx-on on-4">
                                        <a class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                                        <h3>Mobile Cover</h3>
                                 </div>
                                  </div>
                            </div>
                     </div>
               </div>
     </section> 
     <section class="sign-section">
              <div class="overlay">
                    <div class="container">
                         <div class="row">
                               <div col m12>
                                     <div class="sign-contant">
                                          <h1>For All Collection</h1>
                                          <h2>SAVE 70% OFF SALE</h2>
                                          <h4>Be the first to hear about new styles and offers and see how you’ve helped.</h4>
                                     </div>
                                     <div class="sign-bx">
                                         <div class="input-field">          
          <input id="search" placeholder="Your Email Address" required="" type="search">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a class="waves-effect fabivo-btn btn">Sign Up</a>
        </div>
                                     </div>
                               </div>
                         </div>
                    </div>
              </div>
     </section>
     <section class="category">
               <div class="container">
                     <div class="row">
                            <div class="col m6 s12 pad-rg-8">
                                 <div class="category-bx store-bx-img">  
                           <img class="img-full" src="public/img/store-banner.png"/>
                                    <div class="store-bx">
                                         <h4>Download Our Mobile App</h4>
                                         <a class="aap-store waves-effect waves-light" href="#"></a>
                                         <a class="play-store waves-effect waves-light" href="#"></a>                                    </div>
                              </div>
                                 <div class="category-bx">
                                      <a class="" href="#">
                                      <img class="img-full" src="public/img/shoe.png"/>
                                      </a>
                                 </div>
                            </div>
                            <div class="col m6 s12 pad-lf-8">
                                  <div class="category-bx">
                                      <a class="" href="#">
                                      <img class="img-full" src="public/img/winter.png"/>
                                      </a> 
                                      <div class="category-bx-on on-5">
                                       <h3>Men’s Winter</h3>
                                       <h4>Collection</h4>
                                        <a class="waves-effect fabivo-btn-2 btn">Shop now</a> 
                                 </div>
                                  </div>
                            </div>
                     </div>
               </div>
     </section> 
