<section class="contact-us-section">
    <div class="container">
        <div class="row">
            <div class="col m4 s12">
                <div class="contact-info center-align makeequal">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h5>Our Location</h5>
                    <p>{{settings['CONFIG_ADDRESS']}}</p>  
                </div>
            </div>
            <div class="col m4 s12">
                <div class="contact-info center-align makeequal">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <h5>Telephone</h5>
                    <p>{{settings['CONFIG_PHONE_NUMBER']}}</p>  
                </div>
            </div>
            <div class="col m4 s12">
                <div class="contact-info center-align makeequal">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <h5>Support Mail</h5>
                    <p>{{settings['CONFIG_SUPPORT_MAIL']}}</p>  
                </div>
            </div> 

            <div class="col m12 s12">
                <div class="map"  [innerHtml]="settings['CONFIG_GOOGLE_MAP']">

                </div>
                <form class="contact-form"  (ngSubmit)="contact.form.valid && savecontactus()"  #contact="ngForm" novalidate>
                      <div class="row">
                        <div class="col m12 s12 center-align">
                            <div class="heading">
                                <h4>Contact Form</h4>
                                <span class="sepretar"></span>
                                <span class="sepretar sepretar-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input id="first_name" class="validate" type="text" name='name' [(ngModel)]="contactModel.name" #name="ngModel" required>
                            <label for="first_name">Your Name</label>
                            <div *ngIf="contact.submitted && !name.valid" class="help-block err-msg">The name is required</div>
                             <div *ngIf="error['name'] && name.valid" class="help-block  err-msg">{{error['name']['0']}}</div>
                        </div>
                        <div class="input-field col m6 s12">
                            <input id="subject" class="validate" name="subject" type="text" [(ngModel)]="contactModel.subject" #subject="ngModel" required>
                            <label for="subject">Subject</label>
                            <div *ngIf="contact.submitted && !subject.valid" class="help-block err-msg">The subject is required</div>
                             <div *ngIf="error['subject'] && subject.valid" class="help-block  err-msg">{{error['subject']['0']}}</div>
                        </div>
                    </div>   <div class="row">

                        <div class="input-field col m6 s12">
                            <input id="email" class="validate" type="text"  name="email" type="text" [(ngModel)]="contactModel.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <div *ngIf="contact.submitted && email.errors && email.errors.required" class="help-block err-msg">The Email is required</div>
                            <div *ngIf="contact.submitted && email.errors && email.errors.pattern" class="help-block  err-msg">The Email is invalid</div>
                            <div *ngIf="error['email'] && email.valid" class="help-block err-ms">{{error['email']['0']}}</div>
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field col m6 s12">
                            <input id="phone_number" class="validate" type="text" name="phone_number" type="text" [(ngModel)]="contactModel.phone_number" #phone_number="ngModel" required pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$">
                            <label for="phone_number">Phone Number</label>
                            <div *ngIf="contact.submitted && phone_number.errors && phone_number.errors.required" class="help-block err-msg">The Phone Number  is required</div>
                            <div *ngIf="contact.submitted && phone_number.errors && phone_number.errors.pattern" class="help-block err-msg"> The Phone number format is invalid</div>
                            <div *ngIf="error['phone_number'] && phone_number.valid" class="help-block err-msg">{{error['phone_number']['0']}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12 s12"> 
                            <div class="input-field">
                                <textarea id="icon_prefix2" class="materialize-textarea" name='message' [(ngModel)]="contactModel.message" #message="ngModel" required></textarea>
                                <label for="icon_prefix2">Message</label>
                                 <div *ngIf="contact.submitted && !message.valid" class="help-block err-msg">The message is required</div>
                                   <div *ngIf="error['message'] && message.valid" class="help-block  err-msg">{{error['message']['0']}}</div>
                            </div>
                        </div>

                        <div class="col m12 s12 center-align">
                            <button class="waves-effect fabivo-btn-2 btn">Submit</button>
                            
                        </div>
                    </div>  
                </form>
            </div>
        </div>        
    </div>
</section>