<section class="product-detail myaccount">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col"><a [routerLinkActive]="['active']" [routerLink]="['profile']">profile</a></li>
                    <li class="tab col"><a [routerLinkActive]="['active']" [routerLink]="['address']">address</a></li>
                    <li class="tab col" *ngIf="!isActive('/myaccount/order-detail')"><a [routerLinkActive]="['active']" [routerLink]="['order']">my orders</a></li>
                    <li class="tab col"  *ngIf="isActive('/myaccount/order-detail')"><a class='active' [routerLink]="['order']">my orders</a></li>
                    <li class="tab col"><a [routerLinkActive]="['active']" [routerLink]="['wallet']">my wallet</a></li>
                    <li class="tab col"><a [routerLinkActive]="['active']" [routerLink]="['change-password']">change password</a></li>
                </ul>
            </div>  
            <div class="clearfix"></div>
            <div class="tabsin">

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>
