<div class="div-loader">
    <section class="product-category breadcrumb-detail">
    <div class="container">
        <div class="row">
            <div class="col m6 s6">
                <h5>PRODUCT DETAIL</h5>
            </div>
            <div class="col m6 s6">
                <div class="product-category-breadcrumb right">
                    <ul>
                        
                        <li ><a [routerLink]="['/']" >Home</a></li>
                        <li ><a [routerLink]="['/category',category['slug']]">{{category['name']}}</a></li>
                        <li class="disabled"><a>{{product.title}}</a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="product-detail modal-dialog">
        <div class="container">
            <div class="row">
                <div class="col m6 s12">
                    <div class="product-view row">

                        <div *ngIf="productDetail.no_images == ''" class="col m2 s12 slider slider-nav ">
                            <div *ngFor="let thumbnailImg of thumbnail">
                                <img class="" src="{{thumbnailImg}}">
                            </div>
                        </div>

                        <div *ngIf="productDetail.no_images == ''" class="col m10 s12 slider slider-for">
                            <div *ngFor="let image of images;let i = index;" >
                                <img class="zoom"  src="{{image.name}}"  (click)="toggleZoom()" [attr.data-zoom-image]="image.orignail_image">
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div *ngIf="productDetail.no_images != ''" class="col m12 s12 ">
                            <img src="{{productDetail.no_images}}" >
                        </div>

                    </div>
                </div>

                <div class="col m6 s12">
                    <div class="product-info">
                        <h5>{{product.title | capitalize}}</h5>
                        <h6>{{product.short_description}}</h6>
                        <div class="prize" [innerHTML]="product.price">

                        </div>
                        <div class="product-size">
                            <h6 *ngIf="!size_error" class="left">Select Size</h6>
                            <div *ngIf="size_error" class="err-msg">Please select size</div>
                            <a class="right" href="#modal4">
                                <span>Not Sure?</span>
                                See Size
                            </a>
                            <div class="clearfix"></div>
                            <ul>

                                <li *ngFor="let size of sizes" [class.active]="select_size === size.slug" (click)="setSize(size.slug)"><a class="waves-effect btn">{{size.name }}</a></li>

                            </ul>
                        </div>
                        <div class="clearfix"></div>

                        <div class="cart-wish-btn" id='sticker'>
                            <a class="waves-effect fabivo-btn btn" href="javascript:void(0);" (click)="addToCart(select_size)">ADD TO CART</a>

                            <a *ngIf="cartService.wishlistArray.indexOf(product.id)  ==-1" (click)="cartService.addToWishlist(product.id)" class="waves-effect fabivo-btn btn">ADD TO WISHLIST</a>

                            <a *ngIf="cartService.wishlistArray.indexOf(product.id) > -1" [routerLink]="['../../wishlist']" class="waves-effect fabivo-btn btn">VIEW WISHLIST</a>
                        </div>
                        <div class="all-btn" id='description'>
                            <button class ='waves-effect fabivo-btn facebook-btn btn' ceiboShare  [facebook]="{u: repoUrl}"> <i class="fa fa-facebook"> </i> </button>


                            <button class ='waves-effect fabivo-btn twitter-btn btn'  ceiboShare  [twitter]="{url:repoUrl, text:product.title, hashtags:site_title}"> <i class="fa fa-twitter"></i> </button>   

                      

                           <a    class ='waves-effect fabivo-btn whatsapp-btn btn' [href]="whatsapp"   data-action="share/whatsapp/share"><i class="fa fa-whatsapp"></i></a> 

                     



                            <a class ='waves-effect fabivo-btn envelope-btn btn'  href="mailto:?subject={{settings['CONFIG_SITE_TITLE']}}&body={{repoUrl}}"  ><i class="fa fa-envelope"></i> </a>


                        </div> 
                        <div class="clearfix"></div>
                        <div class="description" >
                            <h5>Delivery time & Cash/Card delivery</h5>
                            <p>Please enter your PIN code to check delivery time and
                                Cash/Card on Delivery Avalability</p>
                            <form>
                                <div class="input-field">
                                    <input id="search" [(ngModel)]="pincode" (keyup)='CheckPinCode()' name='pincode' placeholder="Enter Pincode" maxlength="6" type="search">                   
                                        <a (click)='CheckPinCode()'>Check Pin Code</a> 
                                        
                                </div>  
                                 <div class="clearfix"></div>
                                  <p *ngIf="pincode_data && pincode_data['status_code']=1"> {{pincode_data['expected_delivery_date']}}</p>  
                                  <p *ngIf="pincode_data && pincode_data['message']!=''" class="h-heading " [ngClass]="{failed:pinerror}"  > {{pincode_data['message']}}</p>  



                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section class="review-description">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab">
                            <a class="active" href="#descriptions">DESCRIPTION</a></li>

                        <li class="tab"><a href="#return">RETURN & DELIVERY</a></li>
                    </ul>
                </div>
                <div id="descriptions" class="col s12" [innerHTML]="product.description | sanitizeHtml"></div>



                <div id="return" class="col s12" [innerHTML]="settings['CONFIG_RETURN_AND_DELIVERY'] | sanitizeHtml">

                </div>
            </div>
        </div>
    </section> 

    <section class="product-slider">
        <div class="container">
            <div class="row">
                <div class="col m12 s12">
                    <div class="row product-slider-heading">
                        <div class="col s3"><span></span></div>
                        <div class="col s6">
                            <h5 class="center-align">You May Also Like</h5>
                        </div>
                        <div class="col s3"><span></span></div>
                        <div class="clearfix"></div>
                    </div>  
                    <div class="customNavigation">
                        <a class="prev"></a>
                        <a class="next"></a>
                    </div>
                    <div id="owl-demo" class="owl-carousel" >             

                        <div class="item" *ngFor="let relatedData of productDetail.related_product" >
                             <a [routerLink]="['../',relatedData.slug]">
                                <img class="responsive-img" src="{{relatedData.image}}" alt="{{relatedData.title}}" />
                                <h6>{{relatedData.title}}</h6>
                            </a>
                        </div>

                    </div>  
                </div>
            </div>
        </div>
    </section>
</div>
<!--size chart-->
<div id="modal4" class="modal login-bx">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="login-form">
                    <div class="row">
                        <div class="input-field col s12 center">
                            <div class="contant">
                                <span class="modal-action modal-close"><i class="fa fa-times" aria-hidden="true"></i></span>
                                <img class="responsive-img" src="public/img/logo.png"/>  
                                <h4 class="center login-form-text">Size Chart</h4>
                                <div class="chart" [innerHTML]="product.size_chart | sanitizeHtml"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="zoomModal" class="modal zoomModal">
    <input type="hidden" id='currnt_slide' value="0" >
    <span class="modal-action modal-close"><i class="fa fa-times" aria-hidden="true"></i></span>



    <div  class=" slider-for-zoom">
        <div *ngFor="let image of images">
            <img class=""  src="{{image.orignail_image}}"  >
        </div>
    </div>

    <div class="zoomStrip  ">

        <div class="zoomStripContent"> 
            <span class="prize" [innerHTML]="product.price">

            </span>
            <span class="sizes" >
                <ul>

                    <li *ngFor="let size of sizes" [class.active]="select_size === size.slug" (click)="setSize(size.slug)"><a class="waves-effect  ">{{size.name }}</a></li>
                    <div class="clearfix"></div>

                </ul>

            </span>
            <span>  <a class="waves-effect fabivo-btn btn" href="javascript:void(0);" (click)="addToCart(select_size);">ADD TO CART</a>
            </span>
            <div class="clearfix"></div>
        </div>
        <div *ngIf="size_error" class="err-msg">Please select size</div>
    </div>



</div> 