<div id="pro4" class="col s12">
    <div class="row">
        <div class="col s12">
            <div class="wallet-bx">
                <div class="money-info">
                    <span class="left">Fabivo Wallet: <strong [innerHTML]="wallet_amount"></strong></span>
                    <a class="right" [routerLink]="['/page','how-to-use-wallet']">How to use wallet?</a>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix">
                    <table class=" bordered striped highlight responsive-table">
                        <thead>
                            <tr>
                                <th data-field="description">Description</th>
                                <th data-field="withdrawal">Withdrawal</th>
                                <th data-field="deposit">Deposit</th>
                                <th data-field="date">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let wallet of walletDetail">
                                <td>{{wallet['description']}}</td>
                                <td [innerHTML]="wallet['flag'] == 'dr'?wallet['cash']:'-'"></td>
                                <td [innerHTML]="wallet['flag'] == 'cr'?wallet['cash']:'-'"></td>
                                <td>{{wallet['created_at']}}</td>
                            </tr>
                            <tr>
                                <td  *ngIf="total==0" colspan='4'>

                                    No Data Found
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <div class="listing-breadcrumb"> 
                        <div class="col m12 s12 pagination_full">
                            <!-- pager -->
                            <ul  *ngIf="pager.pages && pager.pages.length" class="pagination right">
                                <li class="waves-effect"  [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a  (click)="setPage(pager.currentPage - 1)"><i class="material-icons">chevron_left</i></a>
                                </li>
                                <li class="waves-effect"  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="setPage(page)">{{page}}</a>
                                </li>
                                <li class="waves-effect" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="setPage(pager.currentPage + 1)"><i class="material-icons">chevron_right</i></a>
                                </li>
                                
                            </ul>
                        </div> 
                    </div> 
                </div>
            </div>
        </div>

    </div>
</div>