<div class="col m8 s12">
    <div class=""> 
        <div class="fill-form"> 
            <div class="heading">
                <h5>ORDER SUMMARY</h5>
            </div>
            <div class="fill-deatils">
                <div class="row">
                    <div class="col m7 s12"> 
                        <div class="account-details-bx">
                                <div class="product-details-bx" *ngFor="let cart_data of carts['products']; let i = index">
                                    <div class="row">
                                        <div class="col m4 s4 img-bx">
                                            <img class="img-full" src="{{cart_data['product']['image']}}">
                                        </div>
                                        <div class="col m8 s8 price-detail">
                                            <h6>{{cart_data['product']['title']}}</h6>
                                            <h6 >Price: <span [innerHTML]="cart_data['product']['price']"></span></h6>
                                            <div class="row">
                                                <div class="col m6">Size: {{cart_data['product_size']}}</div>
                                                <div class="col m6">Qty: {{cart_data['quantity']}}</div>
                                            </div>
                                            <span>Expected delivery: {{ carts['expected_delivery_date']}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col m5 s12"> 
                        <div class="order-details">
                            <h6>You have {{cart_length > 1 ? cart_length + ' items' : cart_length + ' item'}} in your bag </h6>
     <div class="order-1">
                            <span class="left">Sub Total</span>
                            <span class="right" [innerHTML]="carts['total_price'] ? carts['total_price'] : 0"></span>
                        </div>
                        <div class="clearfix"></div>

                        <div  *ngIf="carts['enable_shipping_charge']" class="order-1">
                            <span class="left">Shipping</span>
                            <span class="right" [innerHTML]="carts['shipping_charge'] ? carts['shipping_charge'] : 0"></span>
                        </div>
                        <div class="clearfix"></div>

                        
                        <div class="order-1" *ngIf="carts['enable_tax']">
                                  <div  *ngFor="let tax of carts['tax']">
                                
                        <span class="left">{{tax['name']}}</span>
                        <span class="right" [innerHTML]="tax['amount']"></span>
                        <div class="clearfix"></div>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                             <div *ngIf="carts['enable_discount']" class="order-1"  >
                            
                                    
                            <span class="left">Discount</span>
                            <span class="right" [innerHTML]="carts['discount']"></span>
                            <div class="clearfix"></div>
                            
                        </div>
                            
                            <div class="order-2">
                                <span>Payable Amount</span>
                                <span class="pull-right" [innerHTML]="carts['payble_amount'] ? carts['payble_amount'] : 0"></span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="pull-right">
                                <a class="btn waves-effect fabivo-btn" href="javascript:void(0);" (click)="checkoutComponent.changeUrl('payment')">
                                    Continue
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>