     
<section class="faq-section">
    <div class="container">
        <div class="row">
            <div   class="col m4 s12 left_active ">
                <div class="faq-category">
                    <ul class="tabs">

                        <li class="tab col m12" *ngFor="let faq of faqs; let firstItem = first; let i = index"><a  [ngClass]="{ active: firstItem }" (click)="tabClick()"  href="#{{faq['id']}}"><span>{{faq['name']}}{{ (i==1)?active:''}}</span> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                            </a></li>


                        <div class="clearfix"></div>
                    </ul>
                </div>

            </div>
            <div  class="col m8 s12 right_active">
                <div class="row">

                        <div class="col m12 s12 hide-on-large-only">
                                <a class="back_link waves-effect fabivo-btn btn"><i class="fa fa-arrow-left"></i> Back</a>
                        </div>
                         <div [hidden]="!firstItem"*ngFor="let faqcat of faqs; let firstItem = first; let i = index" id="{{faqcat['id']}}" class="col m12 s12">
                        <div class="question-bx">
                            <ul class="collapsible" data-collapsible="accordion" *ngIf="faqcat.faqs.length > 0">
                                <li *ngFor="let faqs of faqcat.faqs;" >
                                    <div class="collapsible-header"><i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <span>Q</span>{{faqs.question}}
                                    </div>
                                    <div class="collapsible-body" [innerHTML]="faqs.answer" ></div>
                                </li>


                            </ul>
                        </div>
                         </div>


                </div>
            </div>
        </div>
    </div>
</section>
