<div id="pro1" class="col s12">
    <div class="row">
    
        <form class="col s8" id="editProfile" (ngSubmit)="editProfile.form.valid && profileSubmit()" #editProfile="ngForm" novalidate>
              <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" name='first_name' class="validate" [(ngModel)]="profilemodel.first_name" #first_name="ngModel" required  pattern="[a-zA-Z ]*">
                    <label for="first_name" class="active">First Name</label>
                 
                      <div *ngIf="editProfile.submitted && first_name.errors && first_name.errors.required" class="help-block err-msg">The first name field is required.</div>
                        <div *ngIf="editProfile.submitted && first_name.errors && first_name.errors.pattern" class="help-block err-msg"> Enter valid first name.</div>
                    <div *ngIf="error && error['first_name'] && first_name.valid" class="err-msg">{{error['first_name']['0']}}</div>
                </div>

                <div class="input-field col s6">
                    <input id="last_name" name ='last_name' type="text" class="validate" [(ngModel)]="profilemodel.last_name" #last_name="ngModel" required pattern="[a-zA-Z ]*">
                    <label for="last_name" class="active">Last Name</label>
                   
                       <div *ngIf="editProfile.submitted && last_name.errors && last_name.errors.required" class="help-block err-msg">The last name field is required.</div>
                        <div *ngIf="editProfile.submitted && last_name.errors && last_name.errors.pattern" class="help-block err-msg"> Enter valid last name.</div>
                    <div *ngIf="error && error['last_name'] && last_name.valid" class="err-msg">{{error['last_name']['0']}}</div>
                      
                </div>
            </div>
<div class="clearfix"></div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="text" class="validate" name='email' [(ngModel)]="profilemodel.email" #email="ngModel" disabled="disabled">
                    <label for="email" class="active">Email</label>
                </div>
                <div *ngIf="phone_verify==1 && phone_number != ''" class="input-field col s6">
                    <input id="phone" type="text" class="validate" name='phone' [(ngModel)]="profilemodel.phone" #phone="ngModel" disabled="disabled">
                    <label for="phone" class="active">Phone</label>
                </div>
                <div *ngIf="phone_verify==0 && phone_number == ''" class="input-field col s6">
                    <input id="phone" type="text" class="validate" name='phone' [(ngModel)]="profilemodel.phone" #phone="ngModel" required  pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$">
                    <label for="phone" class="active">Phone</label>
                   <div *ngIf="editProfile.submitted && phone.errors && phone.errors.required" class="help-block err-msg">The phone number field is required.</div>
                   <div *ngIf="editProfile.submitted && phone.errors && phone.errors.pattern" class="help-block err-msg"> The phone number format is invalid</div>
                   <div *ngIf="error && error['phone'] && first_name.valid" class="err-msg">{{error['phone']['0']}}</div>
                </div>
                 <div *ngIf="phone_verify==0 && phone_number != ''" class="input-field col s3">
                    <input id="phone" type="text" class="validate" name='phone' [(ngModel)]="profilemodel.phone" #phone="ngModel" disabled="disabled">
                    <label for="phone" class="active">Phone</label>
                   
                </div>
                <div *ngIf="phone_verify==0 && phone_number != '' && new_number==0" class="input-field col s3"> <a class="waves-effect fabivo-btn btn" (click)='phoneVerify()'>Verifiy Number</a></div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col s12 gander">
                    Gender
                </div>
                <div class="col s2">
                    <p>
                        <input class="with-gap" name="gender" type="radio" id="male1" value='male' [(ngModel)]="profilemodel.gender" #gender="ngModel" required/>
                        <label for="male1">Male</label>
                    </p>
                </div>
                <div class="col s2">
                    <p>
                        <input class="with-gap" name="gender" type="radio" id="female1" value='female' [(ngModel)]="profilemodel.gender" #gender="ngModel" required/>
                        <label for="female1">Female</label>
                    </p>
                </div>
                <div *ngIf="editProfile.submitted && gender.errors && gender.errors.required" class="help-block err-msg">The gender field is required.</div>
            </div>  
            <div class="row">
                <div class="col s8 button">
                    <button [disabled]="loading" class="waves-effect fabivo-btn btn">Submit<i class="material-icons right">send</i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="modal_otp_myfrofile" class="modal login-bx">
    <div  class="container">
        <div class="row">
            <div class="col s12">
                <form class="login-form" name="verified-form" id="verified_number" (ngSubmit)="verified_number.form.valid && submitOtp()"  #verified_number="ngForm" novalidate>
                      <div class="row">
                        <div class="input-field col s12 center">
                            <div class="contant">
                                <span class="modal-action modal-close" (click)="close_model('modal_otp_myfrofile')"><i class="fa fa-times" aria-hidden="true"></i></span>
                                <img class="responsive-img" src="public/img/logo.png"/>  
                                <h4 class="center login-form-text">Verify Mobile Number</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p>OTP sent to {{phone_number}}. Enter it below to verify.<p>
                                <input id="otp" type="text" name='otp' [(ngModel)]="number_model.otp" #otp="ngModel" required  pattern="^[0-9]{6}$">
                            <div *ngIf="verified_number.submitted && otp.errors && otp.errors.required" class="help-block err-msg">The Otp field is required.</div>
                            <div *ngIf="verified_number.submitted && otp.errors && otp.errors.pattern" class="help-block err-msg">Enter 6 digit OTP.</div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 login-btn">
                            <button [disabled]="loading" class="btn waves-effect fabivo-btn">VERIFY MOBILE NUMBER</button>
                            <a  class="btn waves-effect fabivo-btn" (click)="resendOtp()">Resend Otp</a>

                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>