     
     <section class="faq-section">
               <div class="container">
                     <div class="row">
                          <div class="col m4 s12">
                                <div class="faq-category">
                                      <ul class="tabs">

  <li class="tab col m12" *ngFor="let faq of faqs; let firstItem = first; let i = index"><a  [ngClass]="{ active: firstItem } " href="#{{faq['id']}}"><span>{{faq['name']}}{{ (i==1)?active:''}}</span> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
</a></li>

<!--
        <li class="tab col m12"><a class="active" href="#1"><span>My Account & My Order</span> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
</a></li>
        <li class="tab col m12"><a href="#2"><span>Cancellation & Related Queries</span> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
</a></li>
        <li class="tab col m12"><a href="#3"><span>Payment Mode</span> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
</a></li>
        <li class="tab col m12"><a href="#4"><span>Fabivo Wallet</span> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
</a></li>
        <li class="tab col m12"><a href="#5"><span>Shipping & Tracking</span> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
</a></li>
        <li class="tab col m12"><a href="#6"><span>Return Policy</span> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
</a></li>
        <li class="tab col m12"><a href="#7"><span>Refund Policy</span> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
</a></li>
        <li class="tab col m12"><a href="#8"><span>Affiliate Program </span><i class="fa fa-hand-o-right" aria-hidden="true"></i>
</a></li> !-->
<div class="clearfix"></div>
      </ul>
    </div>
   
  </div>
                           <div class="col m8 s12">
                               <div class="row">
                                <div *ngFor="let faqcat of faqs; let firstItem = first; let i = index" id="{{faqcat['id']}}" class="col m12 s12">
                                      <div class="question-bx">
                                           <ul class="collapsible" data-collapsible="accordion">
    <li *ngFor="let faqs of faqcat.faqs;" >
      <div class="collapsible-header"><i class="fa fa-angle-down" aria-hidden="true"></i>
<span>Q</span>{{faqs.question}}
</div>
      <div class="collapsible-body" [innerHTML]="faqs.answer" ></div>
    </li>
   
    
  </ul>
                                      </div>
                                </div>
                                
                              
                               </div>
                          </div>
                     </div>
               </div>
     </section>
     