<section>
               <div class="header-top">
       <div class="container">
             <div class="row">
                  <div class="col m6 s6 xs6 col-1">
                        <a href="#">
                           <i class="fa fa-mobile" aria-hidden="true"></i>
                             <span>Download App</span>
                        </a>
                        <a href="#">
                           <i class="fa fa-gift" aria-hidden="true"></i>
                           <span>Gift Card</span>
                        </a>
                  </div>
                  <div class="col m6 s6 xs6 col-2">
                       <div class="row right">
                            <div class="col order-box">
                                <a [routerLink]="['/contact']">
                                          <i class="fa fa-phone" aria-hidden="true"></i>
                                          <span>Contact Us</span>
                                       </a>
                                       <a href="#">
                                          <i class="fa fa-truck" aria-hidden="true"></i>
                                          <span>Track Order</span>
                                       </a>
                            </div>    
                            <div class="col cart-box">
                                <a href="#">
                                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                                       </a>
                                       <a href="#">
                                          <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                       </a>   
                            </div>
                       </div>
                  </div>
             </div>
       </div>
  </div>
               <!-- Dropdown Structure --> 
              <nav class="header-custom lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" [routerLink]="['/']">
            <img class="responsive-img" src="public/img/logo.png"/>   
        </a>
      
        <div class="right">
            <ul class="left hide-on-med-and-down">
            <li *ngFor="let menu of menus; let i = index">
                <a class="dropdown-button" href="javascript:void(0);" attr.data-activates="dropdown{{i}}" *ngIf="menu.name">
                    {{menu.name}}
                </a>   
              <div id="dropdown{{i}}" class="dropdown-content dropdown-full" *ngIf="menu.parent.length > 0">
                  <div class="drop-in" *ngFor="let submenu of menu.parent">
                       <h4 *ngIf="submenu.name"> {{submenu.name}} </h4>
                       <span class="sapreter"></span>
                       <ul *ngIf="submenu.children.length > 0">
                         <li *ngFor="let childmenu of submenu.children">
                             <a [routerLink]="['./category',childmenu.slug]" *ngIf="childmenu.name">{{childmenu.name}}</a>
                         </li>
                       </ul>
                  </div>
<!--                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span> 
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span>
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div> 
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span>
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>-->
            </div>  
         </li>
<!--         <li>
              <a  materialize='dropdown-button' class="dropdown-button" href="#!" data-activates="dropdown2">Women</a>   
              <div id="dropdown2" class="dropdown-content dropdown-full">
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span>
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span> 
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span>
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div> 
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span>
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
            </div>  
         </li>
         <li>
              <a class="dropdown-button" href="#!" data-activates="dropdown3">ACCESSORIES</a>   
              <div id="dropdown3" class="dropdown-content dropdown-full">
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span>
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span> 
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span>
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div> 
                  <div class="drop-in">
                       <h4> Featured </h4>
                       <span class="sapreter"></span>
                       <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
            </div>  
         </li>-->
     </ul>           
            <ul id="nav-mobile" class="collapsible side-nav" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">
                       <a href="#">Men<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                       
                  </div>
                  <div class="collapsible-body">
                      <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                       <a href="#">Women<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                       
                  </div>
                  <div class="collapsible-body">
                      <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                       <a href="#">ACCESSORIES<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                       
                  </div>
                  <div class="collapsible-body">
                      <ul>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                         <li><a href="#">New Arrivals</a></li>
                       </ul>
                  </div>
                </li>
          </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> 
            <div class="search-box">
      <form>
        <div class="input-field">
          <button>
            <i class="fa fa-search" aria-hidden="true"></i>          </button>
          <input id="search" placeholder="Search...." type="search" required>
          <i class="material-icons">close</i>        </div>
      </form>
      </div>
            {{authData}}
            gjkgjkhjkg
            {{authData | json}}
            <div class="login-box" *ngIf="!authData">
                <a class="waves-effect fabivo-btn btn" href="#modal1"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Login</a>
                <a class="waves-effect fabivo-btn btn" href="#modal2"><i class="fa fa-user" aria-hidden="true"></i>Sign Up</a>     
            </div>
            <div class="login-box" *ngIf="authData">
                <a class="waves-effect fabivo-btn btn" href="javascript:void(0);"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                <a class="waves-effect fabivo-btn btn" href="javascript:void(0);"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a>     
            </div>
      </div>
      <div class="clearfix"></div>    
    </div>
  </nav>
              
     </section>

<!--login-->
   <div id="modal1" class="modal login-bx">
       <div class="container">
            <div class="row">
      <div class="col s12">
      <form class="login-form" name="form" (ngSubmit)="f.form.valid && signin()" #f="ngForm" novalidate>
        <div class="row">
          <div class="input-field col s12 center">
               <div class="contant">
                    <span class="modal-action modal-close"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <img class="responsive-img" src="public/img/logo.png"/>  
            <h4 class="center login-form-text">Login</h4>
               </div>
          </div>
        </div>
        <div class="row" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <div class="input-field col s12">
            <i class="fa fa-user"></i>
            <input id="email" type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required >
            <label for="email" >Email</label>
            <div *ngIf="f.submitted && !email.valid" class="help-block err-msg">Email is required</div>
          </div>
        </div>
        <div class="row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <div class="input-field col s12">
            <i class=" fa fa-lock"></i>
            <input id="password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
            <label for="password" class="">Password</label>
            <div *ngIf="f.submitted && !password.valid" class="help-block err-msg">Password is required</div>
          </div>
        </div>
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
              <div class="row">
                  <div class="col m6">
                       <input id="remember-me" type="checkbox">
              <label class="mr-lf" for="remember-me">Remember me</label>
                  </div>
                  <div class="col m6">
                    <p class="margin right-align medium-small">
                        <a href="#modal3" class="modal-close">Forgot password ?</a>
                    </p>
                  </div>
              </div>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger err-msg">{{error}}</div>
        <div class="row">
          <span class="input-field col s6 login-btn">
            <button [disabled]="loading" class="btn waves-effect fabivo-btn">Sign in</button>
          </span>
            
           <span class="input-field col s6 login-btn">
            <a href="javascript:void(0);" class="modal-action modal-close btn waves-effect fabivo-btn">Back</a>
          </span>
        </div>
        

      </form>
    </div>
    </div>
       </div>
  </div>
   <!--login End-->
   <!--sign up-->
   <div id="modal2" class="modal login-bx">
             <div class="row">
      <div class="col s12">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
               <div class="contant">
                    <span class="modal-action modal-close"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <img class="responsive-img" src="public/img/logo.png"/>  
            <h4 class="center login-form-text">Sign Up</h4>
               </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="fa fa-user"></i>
            <input id="username" type="text">
            <label for="username" >First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="username" type="text">
            <label for="username" >Last Name</label>
          </div>
        </div>
        <div class="row">
           <div class="input-field col s12">
            <i class=" fa fa-envelope"></i>
            <input id="password" type="text">
            <label for="password" class="">Email</label>
          </div>
        </div> 
        <div class="row">
           <div class="input-field col s12">
            <i class=" fa fa-lock"></i>
            <input id="password" type="password">
            <label for="password" class="">Password</label>
          </div>
        </div>
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
              <div class="row">
                  <div class="col m12">
                    <p class="margin left-align medium-small"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
<a  class="allready modal-close" href="#modal1">Already have an account? Sign in</a></p>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 login-btn">
            <a href="javascript:void(0);" class="btn waves-effect fabivo-btn">Sign up</a>
            <a href="javascript:void(0);" class="modal-action modal-close btn waves-effect fabivo-btn">Back</a>
          </div>
        </div>

      </form>
    </div>
    </div>
        </div>
   <!--sign up End--> 
   
   
   <!--forgot password-->
   <div id="modal3" class="modal login-bx">
       <div class="container">
            <div class="row">
      <div class="col s12">
      <form class="login-form" name="form">
        <div class="row">
          <div class="input-field col s12 center">
               <div class="contant">
                    <span class="modal-action modal-close"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <img class="responsive-img" src="public/img/logo.png"/>  
            <h4 class="center login-form-text">Forgot Password</h4>
               </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="fa fa-user"></i>
            <input id="email" type="text" name="email">
            <label for="email" >Email</label>
          </div>
        </div>
          
        <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
              <div class="row">
                  <div class="col m12">
                    <p class="margin left-align medium-small"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
<a  class="allready modal-close" href="#modal1">Sign in</a></p>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <span class="input-field col s12 login-btn">
            <a href="javascript:void(0);" class="btn waves-effect fabivo-btn">Submit</a>
            <a href="javascript:void(0);" class="modal-action modal-close btn waves-effect fabivo-btn">Back</a>
          </span>
        </div>
        

      </form>
    </div>
    </div>
       </div>
  </div>
